
<?php
/////////////////////////////////////////////////
// RECUPERATION ET CUSTOMISATION DU FORMULAIRE //
/////////////////////////////////////////////////

    $formulaire=$this->form;
    $formulaire->setAttributes(array(
//                'action'=>$this->url."ajoutUtilisateurResult",
//                'method'=>'POST',
                'class'=>'form-horizontal well',
                'id' => 'ajoutUtilisateurForm'
        ));

    $formulaire->prepare();
    
////////////////////////////////////////////
// CUSTOMISATION DES CHAMPS DE FORMULAIRE //
////////////////////////////////////////////

$roles = $formulaire->get('id_role');
$roles->setAttributes([
    'class'=>'form-control',
    'required'=>'required',
    'id' => 'new_id_role'
]);
$roles->setOptions([
    'label'=>'Rôle:',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $roles->getAttribute('id')
     ],
 ]);


$nom = $formulaire->get('nom');
$nom->setAttributes([
    'class'=>'form-control',
    'required'=>'required',
    'placeholder'=>'Ex: Jean Dupont',
    'id' => 'new_nom'
]);
$nom->setOptions([
    'label'=>'Nom:',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $nom->getAttribute('id')
     ],
]);

$email = $formulaire->get('email');
$email->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Ex: jean@gmail.com',
    'id' => 'new_email'
]);
$email->setOptions([
    'label'=>'Email:',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $email->getAttribute('id')
     ],
]);

$email_check = $formulaire->get('email_check');
$email_check->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Ex: jean@gmail.com'
]);
$email_check->setOptions([
    'label'=>'Email (vérification):',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $email_check->getAttribute('id')
     ],
]);

$tel = $formulaire->get('tel');
$tel->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Ex: 0487541234',
    'id' => 'new_tel'
]);
$tel->setOptions([
    'label'=>'Tel:',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $tel->getAttribute('id')
     ],
]);

$newsletter = $formulaire->get('newsletter');
$newsletter->setAttributes([
    'class'=>' ',
    'id' => 'new_newsletter'
]);
$newsletter->setOptions([
    'label'=>'Newsletter',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $newsletter->getAttribute('id')
     ],
]);

$login = $formulaire->get('login');
$login->setAttributes([
    'class'=>'form-control form-control-success',
    'placeholder'=>'Ex: GrandJean',
    'id' => 'new_login'
]);
$login->setOptions([
    'label'=>'Login:',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $login->getAttribute('id')
     ],
]);

$mdp = $formulaire->get('mdp');
$mdp->setAttributes([
    'class'=>'form-control',
    'id' => 'new_mdp'
]);
$mdp->setOptions([
    'label'=>'Mot de passe:',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $mdp->getAttribute('id')
     ],
]);

$mdp_check = $formulaire->get('mdp_check');
$mdp_check->setAttributes([
    'class'=>'form-control',
]);
$mdp_check->setOptions([
    'label'=>'Mot de passe (vérification):',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $mdp_check->getAttribute('id')
     ],
]);

$btn = $formulaire->get('boutonEnvoyer');
$btn->setAttributes([
    'class'=>'btn btn-primary',
    'value'=>'Valider',
    'type' => 'button',
    'id' => 'addBtn'
]);
$btn->setOptions([
    'label'=>' ',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
//        'for'=> $videoLink->getAttribute('id')
     ]
]);

echo $this->form()->openTag($formulaire);
?>
<fieldset>
<legend>Nouvel utilisateur - formulaire d'insertion</legend>

    <!--CATEGORIE-->
    <div class="form-group">
      <?php echo $this->formLabel($roles); ?>
      <div class="col-sm-8 col-md-6">
          <?php echo $this->formSelect($roles); ?>
          <span class="help-block" style="display:none">Veuillez sélectionner un rôle.</span>
      </div>
    </div>
    
    <!--LOGIN-->
    <div class="form-group">
      <?php echo $this->formLabel($login); ?>
      <div class="col-sm-8 col-md-6">
          <?php echo $this->formInput($login); ?>
          <span class="help-block" style="display:none">Veuillez choisir un autre login</span>
      </div>
    </div>
    
    <!--MOT DE PASSE-->
    <div class="form-group">
      <?php echo $this->formLabel($mdp); ?>
      <div class="col-sm-8 col-md-6"><?php echo $this->formPassword($mdp); ?></div>
    </div>
    <div class="form-group">
      <?php echo $this->formLabel($mdp_check); ?>
      <div class="col-sm-8 col-md-6">
          <?php echo $this->formPassword($mdp_check); ?>
          <span class="help-block" style="display:none">Les mots de passe que vous avez entrés semblent ne pas correspondre.</span>
      </div>
    </div>
    
    <!--NOM-->
    <div class="form-group">
      <?php echo $this->formLabel($nom); ?>
      <div class="col-sm-8 col-md-6"><?php echo $this->formInput($nom); ?></div>
    </div>
    <!--EMAIL-->
    <div class="form-group">
      <?php echo $this->formLabel($email); ?>
      <div class="col-sm-8 col-md-6"><?php echo $this->formEmail($email); ?></div>
    </div>
    <div class="form-group">
      <?php echo $this->formLabel($email_check); ?>
      <div class="col-sm-8 col-md-6">
          <?php echo $this->formEmail($email_check); ?>
          <span class="help-block" style="display:none">Veuillez vérifier la concordance des 2 champs email.</span>
      </div>
    </div>
    
    
    <!--NEWSLETTER (checkbox)-->
    <div class="form-group">
        <?php echo $this->formLabel($newsletter); ?>
        <div class="col-sm-8 col-md-6">
          <label class="checkbox">
            <?php echo $this->formCheckbox($newsletter); ?>
          </label>
        </div>
    </div>
    
    <!--TEL-->
    <div class="form-group">
      <?php echo $this->formLabel($tel); ?>
      <div class="col-sm-8 col-md-6"><?php echo $this->formInput($tel); ?></div>
    </div>
    
    <!-- BOUTON ENVOYER -->
    <div class="form-group">
        <?php echo $this->formLabel($btn); ?>
        <div class="col-sm-4"><?php echo $this->formInput($btn) ?></div>
    </div>
  
</fieldset>
<p class="text-info" id="insertMsg"></p>
<?php echo $this->form()->closeTag($formulaire);



