<?php
$objUtilisateur = $this->utilisateur;
    $id = $objUtilisateur->getId();
    $id_role = $objUtilisateur->getId_role();
    $nom = $objUtilisateur->getNom();
    $email = $objUtilisateur->getEmail();
    $tel = $objUtilisateur->getTel();
    $newsletter = $objUtilisateur->getNewsletter();
    $login = $objUtilisateur->getLogin();
    
    $role = "";
    switch($id_role){
        case "1" : $role = "admin"; break;
        case "2" : $role = "encodeur"; break;
        case "3" : $role = "visiteur"; break;
        default: break;
    }
?>

<div class="row well">
    <div class="col-sm-4 text-center well">
        <h2><?php echo strtoupper($login) ?></h2>
        <p>-- <?php echo $role ?> --</p>
    </div>
    <div class="col-sm-8">
        <p><strong>Nom: </strong><?php echo $nom ?></p>
        <p><strong>Email: </strong><?php echo $email ?></p>
        <p><strong>Tel: </strong><?php echo $tel ?></p>
        <p><strong>Newsletter: </strong><?php echo ($newsletter)? "oui": "non"; ?></p>
    </div>
    <div class="btn-group pull-right">
        <a class="btn btn-sm btn-warning updateFicheUtilisateur" href="#updateUserModal" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span></a>
    </div>
    <input type='hidden' value="<?php echo $id ?>"/>
</div>