<?php
if(session_status() == PHP_SESSION_NONE){
    session_start();
}

$utilisateur = $this->utilisateur;
    $idUpdate = $utilisateur->getId();
    $id_roleUpdate = $utilisateur->getId_role();
    $nomUpdate = $utilisateur->getNom();
    $emailUpdate = $utilisateur->getEmail();
    $telUpdate = $utilisateur->getTel();
    $newsletterUpdate = $utilisateur->getNewsletter();
    $loginUpdate = $utilisateur->getLogin();
    $mdpUpdate = $utilisateur->getMdp();

$loggedUserIsSameAsUserProfile = ($_SESSION['utilisateur']['id'] == $idUpdate) ? true : false;
$loggedUserIsAdmin = ($_SESSION['utilisateur']['id_role'] == 1) ? true : false;

$form = $this->form;
$form->prepare();

    $roles = $form->get('id_role');
    $roles->setAttributes([
        'class'=> 'form-control',
        'id' => 'id_roleUpdate'
    ]);
    $roles->setOptions([
        'label'=>'Rôle:',
        'label_attributes'=> [
            'class'=>"col-sm-2 control-label",
            'for'=> $roles->getAttribute('id')
         ],
     ]);
    
    $email = $form->get('email');
    $email->setAttributes([
        'class'=> 'form-control',
        'id' => 'emailUpdate',
        'value' => $emailUpdate
    ]);
    $email->setOptions([
        'label'=>'Email:',
        'label_attributes'=> [
            'class'=>"col-sm-2 control-label",
            'for'=> $email->getAttribute('id')
         ],
     ]);
    
    $email_check = $form->get('email_check');
    $email_check->setAttributes([
        'class'=> 'form-control',
        'id' => 'email_checkUpdate',
        'value' => $emailUpdate
    ]);
    $email_check->setOptions([
        'label'=>'Email (vérification):',
        'label_attributes'=> [
            'class'=>"col-sm-2 control-label",
            'for'=> $email_check->getAttribute('id')         ],
     ]);
    
    $newsletter = $form->get('newsletter');
    $newsletter->setAttributes([
        'class'=>' ',
        'id' => 'newsletterUpdate',
        'checked' => ($newsletterUpdate == 1) ? 'checked' : ''
    ]);
    $newsletter->setOptions([
        'label'=>'Newsletter',
        'label_attributes'=> [
            'class'=>"col-sm-2 col-md-3 control-label",
            'for'=> $newsletter->getAttribute('id')
         ],
    ]);
    
    $mdp = $form->get('mdp');
    $mdp->setAttributes([
        'class'=>'form-control',
        'id' => 'mdpUpdate',
    ]);
    $mdp->setOptions([
        'label'=>'Mot de passe',
        'label_attributes'=> [
            'class'=>"col-sm-2 control-label",
            'for'=> $mdp->getAttribute('id')
         ],
    ]);
    
    $mdp_check = $form->get('mdp_check');
    $mdp_check->setAttributes([
        'class'=>'form-control',
        'id' => 'mdp_checkUpdate',
    ]);
    $mdp_check->setOptions([
        'label'=>'Mot de passe (vérification)',
        'label_attributes'=> [
            'class'=>"col-sm-2 control-label",
            'for'=> $mdp_check->getAttribute('id')
         ],
    ]);
    
?>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Update Fiche Utilisateur</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <form class="form-horizontal well">

                <!--ID UTILISATEUR (champ caché)-->
                <input type="hidden" value="<?php echo $idUpdate ?>" id="idUtilisateurUpdate" />

                <!--LOGIN (non modifiable)-->
                <div class="form-group row">
                    <label class="col-sm-2 control-label" for="loginUpdate">Login: </label>
                    <div class="col-sm-10">
                        <p id="loginUpdate" class="form-control"><?php echo $loginUpdate ?></p>
                        <div class="help-block small">*non modifiable</div>
                        <input type="text" id="newLoginUpdate" class="form-control" style="display:none"/>
                        <div class="help-block small" style="display:none">*login obligatoire</div>
                    </div>
                    
                </div>

                <!--ROLE-->
                <div class="form-group row">
                <?php 
                echo $this->formLabel($roles);
                if (!$loggedUserIsAdmin || $loggedUserIsSameAsUserProfile){
                    // pas le droit un rôle si on n'est pas admin (ni si c'est son propre rôle)
                            echo '<div class="col-sm-10">';
                            echo '<p class="form-control">'.$this->nomRole.'</p>';
                            echo '<div class="help-block small">*non modifiable</div>';
                            echo'</div>';
                            echo '<div class="col-sm-10" style="display:none;">'.$this->formSelect($roles).'</div>';
                }else if ($loggedUserIsAdmin){ 
                    // il a le droit de modifier le rôle                
                        echo '<div class="col-sm-10">'.$this->formSelect($roles).'</div>';
                } ?> 
                </div>
                
                <!--MOT DE PASSE-->
                <input id="mdpCheck" type="hidden" value="<?php echo $mdpUpdate?>"/>
                <div class="form-group row has-error" style="display:none;">
                    <?php echo $this->formLabel($mdp); ?>
                    <div class="col-sm-10">
                        <?php echo $this->formPassword($mdp); ?>
                        <span class="help-block small">*mot de passe obligatoire.</span>
                    </div>
                </div>
                <div class="form-group row has-error" style="display:none;">
                    <?php echo $this->formLabel($mdp_check); ?>
                    <div class="col-sm-10">
                        <?php echo $this->formPassword($mdp_check); ?>
                        <span class="help-block small" style="display:none;">Veuillez vérifier la concordance des 2 champs mot de passe.</span>
                    </div>
                </div>
                
                <!--NOM-->
                <div class="form-group row">
                    <label class="col-sm-2 control-label" for="nomUpdate">Nom et prénom: </label>
                    <div class="col-sm-10"><input id="nomUpdate" class="form-control" type="text" value="<?php echo $nomUpdate ?>"/></div>
                </div>
                <!--TEL-->
                <div class="form-group row">
                    <label class="col-sm-2 control-label" for="telUpdate">Tel: </label>
                    <div class="col-sm-10"><input id="telUpdate" class="form-control" type="text" value="<?php echo $telUpdate ?>"/></div>
                </div>

                <!--EMAIL-->
                <div class="form-group row">
                    <?php echo $this->formLabel($email); ?>
                    <div class="col-sm-10"><?php echo $this->formEmail($email); ?></div>
                </div>
                <div class="form-group row" style="display:none;">
                    <?php echo $this->formLabel($email_check); ?>
                    <div class="col-sm-10">
                        <?php echo $this->formEmail($email_check); ?>
                        <span class="help-block" style="display:none">Veuillez vérifier la concordance des 2 champs email.</span>
                    </div>
                </div>

                <!--NEWSLETTER (checkbox)-->
                <div class="form-group">
                    <?php echo $this->formLabel($newsletter); ?>
                    <div class="col-sm-8 col-md-6">
                      <label class="checkbox">
                        <?php echo $this->formCheckbox($newsletter); ?>
                      </label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-xs-12 col-sm-2 control-label" for="submitUpdateUtilisateur"></label>
                    <div class="col-xs-3 col-sm-2"><button type="button" id="submitUpdateUtilisateur" class="btn btn-primary">Valider</button></div>
                    <div class="alert alert-success col-xs-9 col-sm-7 text-center" id="updateUtilisateurSuccessMsg"style="display:none">Les données utilisateur ont bien été mises à jour!</div>
                </div>
            </form>
        </div>   
    </div>
</div>
<script>   
$(document).ready(function(){
    // on pré-sélectionne  le rôle de l'utilisateur dans la liste déroulante
    $('#id_roleUpdate option[value="<?php echo $id_roleUpdate ?>"]').attr('selected', 'selected');
    
    // vérifications champs email
    function checkEmailUpdate(){
        var first = $('#emailUpdate').val();
        var second = $('#email_checkUpdate').val();
        if(first === second){
            $('#emailUpdate').parents('.form-group').removeClass('has-error');
            $('#email_checkUpdate').parents('.form-group').removeClass('has-error');
            $('#email_checkUpdate+.help-block').hide();
        }
        else{
            $('#emailUpdate').parents('.form-group').addClass('has-error');
            $('#email_checkUpdate').parents('.form-group').addClass('has-error');
            $('#email_checkUpdate+.help-block').show();
        }
    }
    $('#emailUpdate').change(function(){
        // on affiche le champs de vérification d'email si on modifie le champs email
        $('#email_checkUpdate').parents('.form-group').show();
        // et on vérifie la concordance entre les deux champs d'email
        checkEmailUpdate();
    });
    $('#email_checkUpdate').change(function(){
        // on vérifie la concordance entre les deux champs email
        checkEmailUpdate();
    });
    
    // vérification des champs email et newsletter (email obligatoire si newsletter cochée)
    function checkNewsletterAndEmail(){
        if($('#newsletterUpdate').is(':checked') && $('#emailUpdate').val() === ""){
            $('#emailUpdate').parents('.form-group').addClass('has-error');
            $('#email_checkUpdate').parents('.form-group').addClass('has-error');
            return false;
        }
        else{
            $('#emailUpdate').parents('.form-group').removeClass('has-error');
            $('#email_checkUpdate').parents('.form-group').removeClass('has-error');
            return true;
        }
    }
    checkNewsletterAndEmail();
    
    $('#newsletterUpdate').change(function(){
        checkNewsletterAndEmail();
    });
    
    // si on attribue un rôle 1 ou 2 à un utilisateur, vérifications sur le mdp et le login
    $('#id_roleUpdate').change(function(){
        
        if($('#id_roleUpdate').val() < 3){
            // s'il n'a pas encore de mot de passe attribué, on affiche les champs permettant de le faire
            if($('#mdpCheck').val() == ""){
                $('#mdpUpdate').parents('.form-group').show();
                $('#mdp_checkUpdate').parents('.form-group').show();
            }
            // s'il n'a pas encore de login, on affiche le champs permettant de le faire.
            if($('#loginUpdate').text() == ""){
                $('#loginUpdate').hide();
                $('#loginUpdate+.help-block').hide();
                $('#newLoginUpdate').show();
                $('#newLoginUpdate').parents('.form-group').addClass('has-error');
                $('#newLoginUpdate+.help-block').show();
            }
        }
   });
   
   function checkMdp(){
        var first = $('#mdpUpdate').val();
        var second = $('#mdp_checkUpdate').val();
        if(first === second){
            $('#mdpUpdate').parents('.form-group').removeClass('has-error');
            $('#mdp_checkUpdate').parents('.form-group').removeClass('has-error');
            $('#mdp_checkUpdate+.help-block').hide();
        }
        else{
            $('#mdpUpdate').parents('.form-group').addClass('has-error');
            $('#mdp_checkUpdate').parents('.form-group').addClass('has-error');
            $('#mdp_checkUpdate+.help-block').show();
        }
    }
   // agit lorsque l'utilisateur complète le second champ mot de passe
    // ajout d'une classe Bootstrp d'erreur si les deux champs ne correspondent pas
    $('#mdp_checkUpdate').change(function(){
        checkMdp();
    });
    
    function checkLogin(){
        $.ajax({
            url:'/application/utilisateur/loginDispo',
            method:'POST',
            datatype:'text',
            data:{
                login : $('#newLoginUpdate').val()
            },
            success: function(data){
                var login = $('<p>'+login+'</p>');
                if(data){
                    $('#loginUpdate').text($('#newLoginUpdate').val());
                    $('#newLoginUpdate').parents('.form-group').removeClass('has-error');  
                    $('#newLoginUpdate+.help-block').hide();
                }
                else{
                    $('#newLoginUpdate').parents('.form-group').addClass('has-error');
                    $('#newLoginUpdate+.help-block').text('Veuillez choisir un autre login');
                }
            },
            error: function(data){
                alert('ERREUR');
            }
        });
    }
    
    // agit lorsque l'utilisateur complète le champ login
    // ajout de classes Bootstrap d'erreur si login indisponible
    $('#newLoginUpdate').change(function(){
        checkLogin();
    });
});
</script>
