<div class="row alert alert-success text-center">
    La recherche <?php echo $this->recherche ?> donne <strong><?php echo $this->nbResultats ?> résultats</strong>.
</div>

<?php
foreach($this->listeUtilisateurs as $objUtilisateur){
    echo $this->partial('application/utilisateur/partial/fiche-utilisateur', ['utilisateur' => $objUtilisateur]);
}