<form id="loginForm" class="form-horizontal well">

    <div class="form-group">
        <label for="login" class="col-sm-2 col-md-3 control-label">Login: </label>
        <div class="col-sm-10 col-md-9">
            <input type="text" id="login" name="login" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="mdp" class="col-sm-2 col-md-3 control-label">Mot de passe:</label>
        <div class="col-sm-10 col-md-9">
            <input type="password" id="mdp" name="mdp" class="form-control">
        </div>
    </div>
    <p class="text-danger" id="loginMsg"></p>

    <div class="form-group">
        <label for="btn" class="col-sm-2 col-md-3 control-label"></label>
        <div class="col-sm-4">
            <button type="button" id="btn" class="btn btn-primary">Se connecter</button>
        </div>
    </div>
</form>