<?php
// <editor-fold defaultstate="collapsed" desc="récupération et customisation du formulaire">
    /////////////////////////////////////////////////
    // RECUPERATION ET CUSTOMISATION DU FORMULAIRE //
    /////////////////////////////////////////////////

        $formulaire=$this->form;
        $formulaire->setAttributes([
                    'class'=>'form-horizontal well',
                    'id' => 'rechercheUtilisateurForm'
            ]);

        $formulaire->prepare();

    ////////////////////////////////////////////
    // CUSTOMISATION DES CHAMPS DE FORMULAIRE //
    ////////////////////////////////////////////

    $roles = $formulaire->get('id_role');
    $roles->setAttributes([
        'class'=>'form-control',
        'id' => 'id_role_search'
    ]);
    $roles->setEmptyOption('-- tous rôles confondus --');
    $roles->setOptions([
        'label'=>'Rôle:',
        'label_attributes'=> [
            'class'=>"col-sm-2 col-md-3 control-label",
            'for'=> $roles->getAttribute('id')
         ],
     ]);

    $nom = $formulaire->get('nom');
    $nom->setAttributes([
        'class'=>'form-control',
        'placeholder'=>'Ex: Jean Dupont',
        'id' => 'nom_search'
    ]);
    $nom->setOptions([
        'label'=>'Nom:',
        'label_attributes'=> [
            'class'=>"col-sm-2 col-md-3 control-label",
            'for'=> $nom->getAttribute('id')
         ],
    ]);

    $email = $formulaire->get('email');
    $email->setAttributes([
        'class'=>'form-control',
        'placeholder'=>'Ex: jean@gmail.com',
        'id' => 'email_search'
    ]);
    $email->setOptions([
        'label'=>'Email:',
        'label_attributes'=> [
            'class'=>"col-sm-2 col-md-3 control-label",
            'for'=> $email->getAttribute('id')
         ],
    ]);

    $tel = $formulaire->get('tel');
    $tel->setAttributes([
        'class'=>'form-control',
        'placeholder'=>'Ex: 0487541234',
        'id' => 'tel_search'
    ]);
    $tel->setOptions([
        'label'=>'Tel:',
        'label_attributes'=> [
            'class'=>"col-sm-2 col-md-3 control-label",
            'for'=> $tel->getAttribute('id')
         ],
    ]);

    $newsletter = $formulaire->get('newsletter');
    $newsletter->setAttributes([
        'class'=>' ',
        'id' => 'newsletter_search',
        'checked' => ''
    ]);
    $newsletter->setOptions([
        'label'=>'Newsletter',
        'label_attributes'=> [
            'class'=>"col-sm-2 col-md-3 control-label",
            'for'=> $newsletter->getAttribute('id')
         ],
    ]);

    $login = $formulaire->get('login');
    $login->setAttributes([
        'class'=>'form-control',
        'placeholder'=>'Ex: GrandJean',
        'id' => 'login_search'
    ]);
    $login->setOptions([
        'label'=>'Login:',
        'label_attributes'=> [
            'class'=>"col-sm-2 col-md-3 control-label",
            'for'=> $login->getAttribute('id')
         ],
    ]);

    $btn = $formulaire->get('boutonEnvoyer');
    $btn->setAttributes([
        'class'=>'btn btn-primary',
        'value'=>'Valider',
        'type' => 'button',
        'id' => 'searchBtn'
    ]);
    $btn->setOptions([
        'label'=>' ',
        'label_attributes'=> [
            'class'=>"col-sm-2 col-md-3 control-label",
         ]
    ]);
// </editor-fold>

echo $this->form()->openTag($formulaire);
?>
<fieldset>
<legend>Recherche avancée</legend>

    <!--CATEGORIE-->
    <div class="form-group">
      <?php echo $this->formLabel($roles); ?>
      <div class="col-sm-8 col-md-6"><?php echo $this->formSelect($roles); ?></div>
    </div>

    <!--LOGIN-->
    <div class="form-group">
      <?php echo $this->formLabel($login); ?>
      <div class="col-sm-8 col-md-6"><?php echo $this->formInput($login); ?></div>
    </div>

    <!--NOM-->
    <div class="form-group">
      <?php echo $this->formLabel($nom); ?>
      <div class="col-sm-8 col-md-6"><?php echo $this->formInput($nom); ?></div>
    </div>
    <!--EMAIL-->
    <div class="form-group">
      <?php echo $this->formLabel($email); ?>
      <div class="col-sm-8 col-md-6"><?php echo $this->formEmail($email); ?></div>
    </div>

    <!--NEWSLETTER (checkbox)-->
    <div class="form-group">
        <?php echo $this->formLabel($newsletter); ?>
        <div class="col-sm-8 col-md-6">
          <label class="checkbox">
            <?php echo $this->formCheckbox($newsletter); ?>
          </label>
        </div>
    </div>

    <!--TEL-->
    <div class="form-group">
      <?php echo $this->formLabel($tel); ?>
      <div class="col-sm-8 col-md-6"><?php echo $this->formInput($tel); ?></div>
    </div>

    <!-- BOUTON ENVOYER -->
    <div class="form-group">
        <?php echo $this->formLabel($btn); ?>
        <div class="col-sm-4"><?php echo $this->formInput($btn) ?></div>
    </div>

</fieldset>

<?php echo $this->form()->closeTag($formulaire);



