<?php
    $instrument = $this->instrumentAvecPhotos;
    
    $photos = $instrument->getListePhotos();
    $imgTags = [];
    foreach($photos as $objPhoto){
        $url = $this->basePath('img/instruments/').$objPhoto->getNom();
        $imgTags[] = '<img src="'.$url.'" alt="'.$objPhoto->getNom().'"/>';
    }
    $ref_mc = $instrument->getRef_mc();
//    $urlImage = (is_file('public/img/mini/'.$ref_mc.'.jpg'))? $this->basePath('img/mini/'.$ref_mc.'.jpg') : $this->basePath('img/no-img.jpeg');

    $form = $this->form;
    $form->prepare();
    $categories = $form->get('id_categorie');
    $categories->setAttributes([
        'class'=> 'form-control',
        'id' => 'id_categorieUpdate'
    ]);
    $categories->setOptions([
        'label'=>'Catégorie:',
        'label_attributes'=> [
            'class'=>"col-sm-2 control-label",
            'for'=> $categories->getAttribute('id')
         ],
     ]);
?>

<div class="modal-content">
    <div class="modal-header">
        <h4>Update Fiche Instrument</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        <form class="form-horizontal well" enctype="multipart/form-data" method="post">
            <input type="hidden" value="<?php echo $instrument->getId() ?>" id="idInstrumentUpdate" />
            
            <!--PHOTO (déjà présentes sur le serveur)--> 
<!--            <div class="form-group row">
                <label class="col-sm-2 control-label">Photos associées: </label>
                <div class="col-sm-10">
                    <?php // foreach($imgTags as $img){
//                        echo $img;
//                    } ?>
                </div>
            </div>-->
            
                <!--PHOTO (dropzone)-->        
            <div class="form-group row">
                <label class="col-sm-2 control-label">Photos: </label>
                <div class="col-sm-10"><!-- This is the dropzone element -->
                    <div id="my-dropzone-update" class="dropzone">
                    </div> 
                </div>
            </div> <!-- this is where the previews should be shown. -->
            
<!--            <div class="form-group row">
                <label class="col-sm-2 control-label" for="photoUpdate">Photo: </label>
                <div class="col-sm-4">
                    <img  id="photoUpdate" class="thumbnail img-responsive" src="<?php // echo $urlImage ?>" alt="photo de l\'instrument"/>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <label for="newPhotoUpdate">Importer une autre photo: </label>
                        <div class=""><input id="newPhotoUpdate" type="file"/></div>
                    </div>
                </div>
            </div>-->

            <div class="form-group row">
                <?php echo $this->formLabel($categories); ?>
                <div class="col-sm-10"><?php echo $this->formSelect($categories); ?></div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label" for="nomUpdate">Nom: </label>
                <div class="col-sm-10"><input id="nomUpdate" class="form-control" type="text" value="<?php echo $instrument->getNom() ?>"/></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label" for="detail_descriptionUpdate">Détails description: </label>
                <div class="col-sm-10"><input id="detail_descriptionUpdate" class="form-control" type="text" value="<?php echo $instrument->getDetail_description() ?>"/></div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label" for="accessoiresUpdate">Accessoires: </label>
                <div class="col-sm-10"><textarea id="accessoiresUpdate" rows="3" class="form-control"><?php echo $instrument->getAccessoires() ?></textarea></div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label" for="ref_mcUpdate">Ref.MC: </label>
                <div class="col-sm-4"><input id="ref_mcUpdate" class="form-control" type="text" value="<?php echo $instrument->getRef_mc() ?>"/></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label" for="ref_mfUpdate">Ref.MF: </label>
                <div class="col-sm-4"><input id="ref_mfUpdate" class="form-control" type="text" value="<?php echo $instrument->getRef_mf() ?>"/></div>
            </div>

            <!--EMPRUNT (radio buttons)-->
            <div class="form-group row">
                <label class="col-sm-2 control-label" for="emprunt_okUpdate"></label>
                <div class="col-sm-10">
                    <div class="radio">
                      <label for="emprunt_okUpdate-0">
                        <input name="emprunt_okUpdate" id="emprunt_okUpdate-0" value="0" type="radio">
                        consultation sur place uniquement
                      </label>
                    </div>
                    <div class="radio">
                      <label for="emprunt_okUpdate-1">
                        <input name="emprunt_okUpdate" id="emprunt_okUpdate-1" value="1" type="radio">
                        consultation et emprunt possibles
                      </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label" for="infos1Update">Infos complémentaires: </label>
                <div class="col-sm-10"><div id="infos1Update" class="summernote"><?php echo $instrument->getInfos_comp1() ?></div></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label" for="infos2Update">Infos complémentaires (suite): </label>
                <div class="col-sm-10"><div id="infos2Update" class="summernote"><?php echo $instrument->getInfos_comp2() ?></div></div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label" for="videoUpdate">Lien vidéo:</label>
                <div class="col-sm-10"><input id="videoUpdate" type="text" class="form-control" value="<?php echo $instrument->getVideo() ?>"/></div>
                <?php if($instrument->getVideo() != null){?>
                <div class="col-sm-offset-2 col-sm-10 thumbnail embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="<?php echo $instrument->getVideo();?>"></iframe>
                </div>
                <?php } ?>
            </div>
            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label" for="submitUpdate"></label>
                <div class="col-xs-3 col-sm-2"><button id="submitUpdate" class="btn btn-primary btn-lg">Valider</button></div>
                <div class="alert alert-success col-xs-9 col-sm-7 text-center" id="updateSuccessMsg"style="display:none">La fiche instrument a bien été modifiée!</div>
            </div>
        </form>
        
    </div>
</div>
<script>   
//Dropzone.autoDiscover = false;

$(document).ready(function(){
// instanciation et paramétrage de la dropzone (zone drag and drop pour les photos)
    var myDropzoneUpdate = new Dropzone("div#my-dropzone-update", { 
        url: "insererPhotosInstrumentUpdate", // traitement (action controller)
        autoProcessQueue: false, // empêche l'envoi automatique des fichiers (car on a besoin de l'id du nouvel instrument, qui n'est pas encore inséré))
        uploadMultiple: true, // permet l'envoi de fichiers multiples
        parallelUploads: 100,
        maxFiles: 15, // nbre max de fichiers
        maxFilesize: 2, // taille max (en MB),
        dictDefaultMessage: "Glissez - déposez les photos de l'instrument ici", // message affiché dans la dropzone
        dictFileTooBig: "Ce fichier dépasse 2Mo, il ne sera pas enregistré!", // message affiché si le fichier est trop gros
        dictInvalidFileType: "Ce type de fichier n'est pas accepté.",
        dictRemoveFile: "Supprimer", // texte du lien pour supprimer un fichier
        dictMaxFileExceeded: "Vous avez déjà atteint de nombre maximal de fichiers.",
        addRemoveLinks: true,
        init: function() { // initialisation de l'élément dropzone
            var myDropzone = this;  
            
            <?php foreach($photos as $photo){ ?>
                    var mockFile = { name: "photoInstru", size: <?php echo $photo->getSize() ?> };
                    myDropzone.emit("addedfile", mockFile);
                    myDropzone.emit("thumbnail", mockFile, "<?php echo '/img/instruments/'.$photo->getNom()?>" );
            <?php } ?>

            $("#submitUpdate").click(function(e){
                // on s'assure que le fomulaire ne soit pas envoyé.
                e.preventDefault();
//                e.stopPropagation();
                // petit délai avant envoi des fichiers, afin d'être certain que le nouvel instrument ait bien été inséré dans la bdd au préalable
                window.setTimeout(function(){
                    myDropzone.processQueue(); // envoi effectif des fichiers
                }, 2000);
                
            });
            
            this.on("sendingmultiple", function() {
                // Gets triggered when the form is actually being sent.
                // Hide the success button or the complete form.
                console.log("the form is actually being sent");
            });
            this.on("successmultiple", function(files, response) {
                // Gets triggered when the files have successfully been sent.
                // Redirect user or notify of success.
                console.log("the files have successfully been sent");
            });
            this.on("errormultiple", function(files, response) {
                // Gets triggered when there was an error sending the files.
                // Maybe show form again, and notify user of error
                console.log("there was an error sending the files");
                console.log(response);
                console.log(files);
            });
        },sending: function(file, xhr, formData){
            formData.append('idInstrument', <?php echo $instrument->getId() ?>);
        }
         
    });   
    
    $('#id_categorieUpdate option[value="<?php echo $instrument->getId_categorie()?>"]').attr('selected', 'selected');
    $('input[name="emprunt_okUpdate"][value="<?php echo ($instrument->getEmprunt_ok())? "1" : "0" ;?>"]').attr('checked', 'checked');
    
    $('.summernote').summernote({
        minHeight: 300,
        placeholder: 'write here...',
        toolbar: [
            // [groupName, [list of button]]
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['para', ['ul', 'ol']],
            ['link', ['link', 'video', 'picture']],
            ['misc', ['codeview', 'undo', 'redo', 'help']]
          ]
    });
});
</script>
