<?php
if(session_status() == PHP_SESSION_NONE){
    session_start();
}
$loggedUser = isset($_SESSION['utilisateur']);

$objInstrument = $this->instrument;

    $id = $objInstrument->getId();
    $id_categorie = $objInstrument->getId_categorie();
    $nom = $objInstrument->getNom();
    $detail_description = $objInstrument->getDetail_description();
    $ref_mc = $objInstrument->getRef_mc();
    $ref_mf = $objInstrument->getRef_mf();
    $accessoires = $objInstrument->getAccessoires();
    $emprunt_ok = $objInstrument->getEmprunt_ok();
    $infos_comp1 = $objInstrument->getInfos_comp1();
    $infos_comp2 = $objInstrument->getInfos_comp2();
    $video = $objInstrument->getVideo();
    
$photos = $objInstrument->getListePhotos();
// si l'instrument a des photos attribuées, on affiche la première 
// sinon, on affiche une image par défaut   

if(count($photos) > 0){
    $urlImage = '/img/instruments/'.$photos[0]->getNom();
    
    $arrayURL = [];
    foreach($photos as $objPhoto){
        $arrayURL[] =  '/img/instruments/'.$objPhoto->getNom();
    }
}
else{
    $urlImage = $this->basePath('img/no-img.jpeg');
    $arrayURL[] =  $this->basePath('img/no-img.jpeg');
}
    
    ?>

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4><?php echo strtoupper($nom) ?></h4>
            <h6><?php echo strtoupper($detail_description) ?></h6>
            <p><?php echo $ref_mc ?>
            <?php echo ($ref_mf != "")? '('.$ref_mf.')': ""; ?></p>
            <div class="btn-group btn-group-sm pull-right">
                <?php if($loggedUser){?>
                    <a class="btn btn-sm btn-warning updateinfoInstru" href="#updateInstruModal" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-sm btn-danger deleteInstru" href="#deleteInstruModal" data-toggle="modal"><span class="glyphicon glyphicon-remove"></span></a>
                <?php } ?>
            </div>
            <input type='hidden' value="<?php echo $id ?>"/>
        </div>  
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3 text-center well">
                    <div class="row">
<!--                        <div class="col-sm-12">
                            <img  class="center-block thumbnail img-responsive" src="<?php // echo $urlImage ?>" alt="photo de l\'instrument"/>
                        </div>-->
                        <div id="myCarousel" class="carousel slide col-sm-12 center-block" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <?php 
                                for($i = 0; $i < count($arrayURL); $i++){
                                    echo ($i == 0)? '<li data-target="#myCarousel" data-slide-to="'.$i.'" class="active"></li>':'<li data-target="#myCarousel" data-slide-to="'.$i.'"></li>';
                                }
                                ?>
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <?php
                                for($i = 0; $i < count($arrayURL); $i++){
                                    echo ($i == 0) ? '<div class="item active">' : '<div class="item">';
                                    echo '<img src="'.$arrayURL[$i].'" alt="photo instrument">';
                                    echo '</div>';
                                }
                                ?>
                            </div>
                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                        </div>
                        
                        
                        <div class="col-sm-12">
                            <?php echo ($accessoires != "")? $accessoires : ""; ?>
                        </div>
                        <div class="col-sm-12 alert <?php echo ($emprunt_ok == 1)? 'alert-success' : 'alert-warning' ?>">
                            <?php echo ($emprunt_ok == 1)? '<strong>Emprunt possible.</strong>' : '<strong>Consultation sur place uniquement.</strong>'; ?>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-8 col-md-9">
                    <div class="row">
                        <div class="col-sm-12">
                            <?php echo $infos_comp1 ?>
                        </div>
                        <p>===============</p>
                        <div class="col-sm-12">
                            <?php echo $infos_comp2 ?>
                        </div>
                        <div class="col-sm-offset-1 col-sm-10 thumbnail embed-responsive embed-responsive-16by9">
                            <?php if($video != null){?>
                            <iframe class="embed-responsive-item" src="<?php echo $video;?>" allowfullscreen></iframe>
                            <?php } ?>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>