<?php
if(session_status() == PHP_SESSION_NONE){
    session_start();
}
$loggedUser = isset($_SESSION['utilisateur']);

$objInstrument = $this->instrument;

    $id = $objInstrument->getId();
    $id_categorie = $objInstrument->getId_categorie();
    $nom = $objInstrument->getNom();
    $detail_description = $objInstrument->getDetail_description();
    $ref_mc = $objInstrument->getRef_mc();
    $ref_mf = $objInstrument->getRef_mf();
    $accessoires = $objInstrument->getAccessoires();
    $emprunt_ok = $objInstrument->getEmprunt_ok();
    $infos_comp1 = $objInstrument->getInfos_comp1();
    $infos_comp2 = $objInstrument->getInfos_comp2();
    $video = $objInstrument->getVideo();
    
// si l'instrument a des photos attribuées, on affiche la première 
// sinon, on affiche une image par défaut    
$photos = $objInstrument->getListePhotos();
if(count($photos) > 0){
    $urlImage = '/img/instruments/'.$photos[0]->getNom();
}
else{
    $urlImage = $this->basePath('img/no-img.jpeg');
}
?>

<div class="row well">
    <div class="col-sm-12 text-center well">
    <h2><a href=""><?php echo strtoupper($nom) ?></a></h2>
    </div>
    <div class="row">
        <div class=" col-sm-4 col-md-3 text-center">
            <img  class="center-block thumbnail img-responsive" src="<?php echo $urlImage ?>" alt="photo de l\'instrument"/>
        </div>
        <div class="col-sm-8 col-md-9">
            <?php echo $infos_comp1 ?>
        </div>
    </div>
    <div class="btn-group pull-right">
        <a class="btn btn-sm btn-info getfullinfo" href="#ficheInstruComplete" data-toggle="modal"><span class="glyphicon glyphicon-eye-open"></span></a>
        <?php if($loggedUser){?>
            <a class="btn btn-sm btn-warning updateinfoInstru" href="#updateInstruModal" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-sm btn-danger deleteInstru" href="#deleteInstruModal" data-toggle="modal"><span class="glyphicon glyphicon-remove"></span></a>
        <?php } ?>
    </div>
    <input type='hidden' value="<?php echo $id ?>"/>
</div>