<?php
//////////////////////////////////////////////////////////////
// RECUPERATION ET CUSTOMISATION DU FORMULAIRE DE RECHERCHE ///
///////////////////////////////////////////////////////////////

$formulaire = $this->form;
$formulaire->setAttributes([
    'class'=>'form-horizontal well',
    'id' => 'rechercheCategorieForm'
]);
$formulaire->prepare();

////////////////////////////////////////////
// CUSTOMISATION DES CHAMPS DE FORMULAIRE //
////////////////////////////////////////////

$sousfamilles = $formulaire->get('id_sousfamille');
$sousfamilles->setOptions([
    'label'=>'Par famille:',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $sousfamilles->getAttribute('id')
     ],
 ]);
$sousfamilles->setAttributes([
    'class'=>'form-control',
]);


$ref_mc = $formulaire->get('ref_mc');
$ref_mc->setAttributes([
    'class'=>'form-control',
]);
$ref_mc->setOptions([
    'label'=>'Par référence:',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $ref_mc->getAttribute('id')
     ],
]);

/////////////////////
///// AFFICHAGE /////
/////////////////////

echo $this->form()->openTag($formulaire); ?>
<fieldset>
<legend>Recherche d'instruments de musique dans le catalogue</legend>
<!--SOUS-FAMILLE-->
<div class="form-group">
  <?php echo $this->formLabel($sousfamilles); ?>
  <div class="col-sm-8 col-md-6"><?php echo $this->formSelect($sousfamilles); ?></div>
</div>
<!--CATEGORIES !!! complétées en fonction de la sous-famille sélectionnée, grâce à un call Ajax-->
<div class="form-group">
    <label for="categories_ajax" class="col-sm-2 col-md-3 control-label">Par catégorie:</label>
    <div class="col-sm-8 col-md-6">
        <select id="categories_ajax" name="id_categorie" class="form-control" disabled>
            <option value="">-- Choisissez d'abord une famille --</option>
        </select>
    </div>
</div>
<!--REFERENCES-->
<div class="form-group">
  <?php echo $this->formLabel($ref_mc);?>
  <div class="col-sm-3 col-md-3"><?php echo $this->formInput($ref_mc); ?></div>
</div>

<!--EMPRUNT (radio buttons)-->
<div class="form-group">
    <label class="col-sm-2 col-md-3 control-label" for="emprunt_ok"></label>
    <div class="col-sm-8 col-md-6">
    <div class="radio">
        <label for="emprunt_ok-0">
            <input name="emprunt_ok" id="emprunt_ok-0" value="0" type="radio" checked>
            tous
        </label>
        <label for="emprunt_ok-1">
          <input name="emprunt_ok" id="emprunt_ok-1" value="1" type="radio">
          avec option "emprunt possible"
        </label>
    </div>
  </div>
</div>
<!-- BOUTON ENVOYER -->
<div class="form-group">
    <label for="btnRechercheAvancee" class="col-sm-2 col-md-3 control-label"></label>
    <div class="col-sm-4">
        <button type="button" id="btnRechercheAvancee" class="btn btn-primary">Valider</button>
    </div>
</div>

</fieldset>
<?php echo $this->form()->closeTag($formulaire);