<?php
echo '<ul class="nav nav-pills">';
foreach($this->categoriesAvecInstruments as $objCategorie){
    echo '<li><a href="#cat'. $objCategorie->getId().'" data-toggle="tab">'.$objCategorie->getNom().'</a></li>';
}
echo '</ul>';