<?php foreach ($this->categoriesAvecInstruments as $objCategorie){ 
    $instruments = $objCategorie->getListeInstruments();
?>
    <div class="tab-pane" id="cat<?php echo $objCategorie->getId()?>">
        <div class="row alert alert-success text-center">
        La catégorie <?php echo strtoupper($objCategorie->getNom()) ?> affiche <strong><?php echo count($instruments) ?> résultat(s)</strong>.
        </div>
        <?php
        foreach($instruments as $objInstrument){
            echo $this->partial('application/catalogue/partial/mini-fiche-instrument', ['instrument'=>$objInstrument]);
        }?>
    </div>
<?php }