<div class="row alert alert-success text-center">
    La recherche pour <?php echo strtoupper($this->recherche) ?> donne <strong><?php echo $this->nbResultats ?> résultat(s)</strong>.
    <?php
    if($this->option){
        echo "-- avec option emprunt possible --<br/>";
    }?>
</div>
<?php
foreach($this->instruments as $objInstrument){
    echo $this->partial('application/catalogue/partial/mini-fiche-instrument', ['instrument'=>$objInstrument]);
}