<?php

echo "Liste de toutes les sous-familles";
foreach($this->toutesLesSousFamilles as $objSousFamille){
    echo "<br/>";
    echo "ID: ".$objSousFamille->getId()."<br/>";
    echo "ID famille: ".$objSousFamille->getId_famille()."<br/>";
    echo "Nom: ".$objSousFamille->getNom()."<br/>";
    echo "Description: ".$objSousFamille->getDescription()."<br/>";
    echo "<br/>";
}