<?php

echo "Liste de toutes les familles";
foreach($this->toutesLesFamilles as $objFamille){
    echo "<br/>";
    echo "ID: ".$objFamille->getId()."<br/>";
    echo "Nom: ".$objFamille->getNom()."<br/>";
    echo "Description: ".$objFamille->getDescription()."<br/>";
    echo "<br/>";
}