<?php

echo "Liste de toutes les modifications";

foreach($this->toutesLesModifications as $objModification){
    
    echo "<br/>";
    echo "ID: ".$objModification->getId()."<br/>";
    echo "ID utilisateur: ".$objModification->getId_utilisateur()."<br/>";
    echo "ID famille: ".$objModification->getId_famille()."<br/>";
    echo "ID sous-famille: ".$objModification->getId_sousfamille()."<br/>";
    echo "ID categorie: ".$objModification->getId_categorie()."<br/>";
    echo "ID instrument: ".$objModification->getId_instrument()."<br/>";
    echo "type_modif: ".$objModification->getType_modif()."<br/>";
    echo "Description: ".$objModification->getDescription()."<br/>";
    echo "<br/>";
}