<?php

echo "Liste de toutes les catégories";
foreach($this->toutesLesCategories as $objCategorie){
    echo "<br/>";
    echo "ID sous-famille: ".$objCategorie->getId_sousfamille()."<br/>";
    echo "ID: ".$objCategorie->getId()."<br/>";
    echo "Nom: ".$objCategorie->getNom()."<br/>";
    echo "infos_comp1 : ".$objCategorie->getInfos_comp1()."<br/>";
    echo "infos_comp2: ".$objCategorie->getInfos_comp2()."<br/>";
    echo "Video: ".$objCategorie->getVideo()."<br/>";
    echo "<br/>";
}