<div id="monaccordeon" class="panel-group">
    <h3>Catalogue d'instruments de musique</h3>
    
<!--
==================================
=====RECHERCHE PAR CATEGORIES=====
==================================
-->
    <div class="panel panel-success" >
        <div class="panel-heading">
            <h3 class="panel-title">
                <a href="#rechercheCategories" data-parent="#monaccordeon" data-toggle="collapse">Voir par catégorie</a>
            </h3>
        </div>
        <div id="rechercheCategories" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="alert alert-warning">
                    Ce mode de recherche n'affiche actuellement pas les photos (en refondation)<br/>
                    <strong>Préférez le mode RECHERCHE AVANCEE.</strong>
                </div>
                <?php echo $this->partial('application/catalogue/partial/recherche-par-categorie', ['categoriesAvecInstruments'=>$this->categoriesAvecInstruments]);?>
            </div>
        </div>
    </div>
<!--
==================================
=====   RECHERCHE AVANCEE    =====
==================================
(sur base du formulaire + call Ajax)
-->
    <div class="panel panel-success" >   
       <div class="panel-heading">
           <h3 class="panel-title">
               <a href="#rechercheAvancee" data-parent="#monaccordeon" data-toggle="collapse">Recherche avancée</a>
           </h3>
       </div>
       <div id="rechercheAvancee" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="alert alert-warning">
                    Encodage en cours.<br/>
                    Pour <strong>CONSULTER</strong> les fiches instrument, préférez la famille des <strong>VENTS (BOIS ou CUIVRE).</strong><br/>
                    Pour faire des tests d'<strong>UPDATE ou DELETE</strong>, préférez la famille des <strong>PERCUSSIONS (MEMBRANOPHONES)</strong>
                </div>
                <?php echo $this->partial('application/catalogue/partial/recherche-avancee', ['form'=>$this->form]);?>
            </div>
        </div>
    </div>
 
<!--
==================================
=====  INSERTION INSTRUMENTS    =====
==================================
(logged users only)
-->

    <?php
    if(session_status() == PHP_SESSION_NONE){
        session_start();
    }
    if(isset($_SESSION['utilisateur'])){
        ?>
        <div class="panel panel-warning" >
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="#insertInstru" data-parent="#monaccordeon" data-toggle="collapse">Insertion d'un nouvel instrument</a>
                </h3>
            </div>
            <div id="insertInstru" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="alert alert-warning">
                        Pour faire des tests d'<strong>INSERT</strong>, utilisez svp la catégorie <strong>CAISSES CLAIRES (percussions - membranophones)</strong>
                    </div>
                    <?php echo $this->partial('application/catalogue/partial/form-insert-instrument-avec-dropzone', ['form'=>$this->form]);?>
                </div>
            </div>
        </div>

    <?php
    }
    ?>  
</div>
<!--
========================================
===== RESULTATS & FENÊTRES MODALES =====
========================================
-->
<div id="fiches_instruments" class="row">
    <div id="resultatRechercheParCategorie" class="tab-content col-lg-12">
        <!-- à envisager: un call ajax pour insérer dynamiquement le résultat de la requête -->
        <?php echo $this->partial('application/catalogue/partial/resultats-par-categorie', ['categoriesAvecInstruments'=>$this->categoriesAvecInstruments]);?>
    </div> 
    <div id="resultatRechercheAvancee" class='panel instruments' style='display: none'></div> <!-- call ajax -->
</div>

<div class="modal fade" id="ficheInstruComplete"></div> <!-- call ajax -->
<div class="modal fade" id="updateInstruModal"></div> <!-- call ajax -->

<div class="modal fade" id="deleteInstruModal">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Confirmation de suppression</h4>
          </div>
          <div class="modal-body">
            <p>Confirmez-vous la suppression de cet instrument?</p>
            <div class="alert alert-warning col-sm-12 text-center" id="deleteConfirmAlert"style="display:none">L'instrument a bien été supprimé de la base de données!</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-primary" id="confimDeleteInstru">Confirmer</button><!-- call ajax -->
          </div>
        </div>
      </div>   
</div>

<script>
$(document).ready(function(){
                
    $('a[href="#rechercheAvancee"]').click(function(){
        $("#resultatRechercheParCategorie").hide();
        $("#resultatRechercheAvancee").show();
    });
    
    $('a[href="#rechercheCategories"]').click(function(){
        $("#resultatRechercheParCategorie").show();
        $("#resultatRechercheAvancee").hide();
    });   
    
    $('a[href="#insertInstru"]').click(function(){
        $("#resultatRechercheParCategorie").hide();
        $("#resultatRechercheAvancee").hide();
    });  
    
    $('a[href^="#cat"]').click(function(){
        $('body, html').animate({scrollTop : ($("#resultatRechercheParCategorie").offset().top - 70) }, 'slow');
    });
});
</script>

<!--<div id="page_navigation"></div>
    

<script>
    var show_per_page = 20;
        var current_page = 0;

        function set_display(first, last){
            $('#fiches_instruments').children().css('display', 'none');
            $('#fiches_instruments').children().slice(first, last).css('display', 'block');
        }
        
        function previous(){
            if($('.active').prev('.page_link').length) go_to_page(current_page - 1);
        }
        
        function next(){
            if($('.active').next('.page_link').length) go_to_page(current_page + 1);
        }
        
        function go_to_page(page_num){
            current_page = page_num;
            start_from = current_page * show_per_page;
            end_on = start_from + show_per_page;
            set_display(start_from, end_on);
            $('.active').removeClass('active');
            $('#id'+page_num).addClass('active');
        }
        
    $(document).ready(function(){
        var number_of_pages = Math.ceil($('#fiches_instruments').children().length / show_per_page);
        var nav = '<ul class="pagination"><li><a href="javascript:previous();">&laquo;</a></li>';
        var i = -1;
        while(number_of_pages > ++i){
            nav += '<li class="page_link';
            if(!i) nav += ' active';
            nav += '" id="id' + i + '">';
            nav += '<a href="javascript:go_to_page('+i+')">'+(i+1)+'</a></li>';
        }
        nav += '<li><a href="javascript:next();">&raquo;</a></li></ul>';
        $('#page_navigation').html("TEST");
        $('#page_navigation').html(nav);
        set_display(0, show_per_page);
    });
    
</script>-->
                    