<?php 
echo $this->doctype();
if(session_status() == PHP_SESSION_NONE){
    session_start();
}
$loggedUser = isset($_SESSION['utilisateur']);
$admin = $loggedUser && $_SESSION['utilisateur']['id_role'] == '1';
$login = (isset($_SESSION['utilisateur']))?$_SESSION['utilisateur']['login']: "";
?>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle($this->translate('Instrumentotheque'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon_music.ico'))
                        ->prependStylesheet($this->basePath() . '/css/summernote.css')
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap-theme.min.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
                ?>

        <!-- Scripts -->
        <?php echo $this->headScript()
            ->prependFile($this->basePath() . '/js/summernote.js')
            ->prependFile($this->basePath() . '/js/formAjax.js')
            ->prependFile($this->basePath() . '/js/dropzone.js')
            ->prependFile($this->basePath() . '/js/bootstrap.min.js')
            ->prependFile($this->basePath() . '/js/jquery.min.js')
            ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath() . '/js/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',))
        ; ?>

    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $this->url('home') ?>">L'Instrumentotheque</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class=""><a href="http://instrumentotheque.dev/application/catalogue/index">Catalogue</a></li>
                        <!--<li class="active"><a href="<?php // echo $this->url('home') ?>"><?php // echo $this->translate('Home') ?></a></li>-->
                        <?php echo ($admin)?
                        '<li class=""><a href="http://instrumentotheque.dev/application/utilisateur/index">Utilisateurs</a></li>
                        <li class=""><a href="http://instrumentotheque.dev/application/index/suiviModifications">Suivi des modifications</a></li>'
                        : ""; ?>
                        
                        <li class="dropdown">
                            <a data-toggle="dropdown" href="#">Autres <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                                                                                
                                <li class="dropdown-header">Familles</li>
                                <li><a href="http://instrumentotheque.dev/application/catalogue/afficher-toutes-les-familles">Toutes les familles</a></li>   
                                
                                <li class="dropdown-header">Sous-Familles</li>
                                <li><a href="http://instrumentotheque.dev/application/catalogue/afficher-toutes-les-sous-familles">Toutes les sous-familles</a></li>                           
                                
                                <li class="dropdown-header">Catégories</li>
                                <li><a href="http://instrumentotheque.dev/application/catalogue/afficher-toutes-les-categories">Toutes les catégories</a></li>                           
                                
                                <li class="dropdown-header">Modifications</li>
                                <li><a href="http://instrumentotheque.dev/application/catalogue/afficher-toutes-les-modifications">Toutes les modifications</a></li>                           

                            </ul>                        
                        </li>
                        
                        <li class="dropdown">
                            <a id="loginLink" href="#loginForm" data-toggle="modal" class="login" <?php echo($loggedUser)?'style="display:none"':""?>>Se connecter</a>
                            <a id="userProfileLink" href="" class="<?php echo($loggedUser)? "": "hidden"?> dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><?php echo " ".strtoupper($login)." "?><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a id="seeProfile" href="#loggedUserProfile" data-toggle="modal">Voir mon profil</a></li>
                                <li><a id="pwdModifLink" href="#pwdModifModal" data-toggle="modal">Modifier mon mot de passe</a></li>
                                <li><a id="logoutLink" href="">Se déconnecter</a></li>
                            </ul>
                        </li>
                            
                    </ul>
                </div><!--/.nav-collapse -->
                
                
            </div>
        </nav>

        <div class="container">
            
            <div class="modal fade" id="loginForm">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <strong>Accès réservé</strong>
                        </div>  
                        <div class="modal-body">
                            <?php echo $this->partial('application/utilisateur/partial/login-form') ?>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="loggedUserProfile">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <strong>Votre profil</strong>
                        </div>  
                        <div class="modal-body">
                            en construction
                        </div>
                    </div>
                </div>
            </div> 
            <div class="modal fade" id="pwdModifModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <strong>Modification du mot de passe</strong>
                        </div>  
                        <div class="modal-body">
                            en construction
                        </div>
                    </div>
                </div>
            </div>             
            <div class="modal fade" id="updateUserModal"></div> <!-- call ajax -->
            <?php
            echo $this->content;
            ?>
            
            
            <hr>
            <footer>
                <p>&copy; 2017 - <?php echo (date('Y') > 2017) ? date('Y') : "" ?> Violette Nys<br/>
                    <em>Application réalisée à l'aide de 
                    <a href="https://framework.zend.com/manual/2.3/en/user-guide/overview.html" target="_blank">Zend framework 2.3</a>, 
                    <a href="http://getbootstrap.com/" target="_blank">Bootstrap 3.3</a>, 
                    <a href="https://jquery.com/" target="_blank">jQuery 3.1</a>, 
                    <a href="http://www.dropzonejs.com/" target="_blank">DropzoneJs</a>, 
                    <a href="http://summernote.org/" target="_blank">Summernote</a>
                    </em>
                </p>
                <p></p>
                
            </footer>
        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
    </body>
</html>
