<?php

echo "Catégorie de l'ID sélectionné (ici, 1)";
    echo "<br/>";
    echo "ID: ".$this->categorieParId->getId()."<br/>";
    echo "ID famille: ".$this->categorieParId->getId_sousfamille()."<br/>";
    echo "Nom: ".$this->categorieParId->getNom()."<br/>";
    echo "<br/>";
