<?php

$objInstrument = $this->instrumentParId;

    $id = $objInstrument->getId();
    $id_categorie = $objInstrument->getId_categorie();
    $nom = $objInstrument->getNom();
    $detail_description = $objInstrument->getDetail_description();
    $ref_mc = $objInstrument->getRef_mc();
    $ref_mf = $objInstrument->getRef_mf();
    $accessoires = $objInstrument->getAccessoires();
    $emprunt_ok = $objInstrument->getEmprunt_ok();
    $infos_comp1 = $objInstrument->getInfos_comp1();
    $infos_comp2 = $objInstrument->getInfos_comp2();
    $audio = $objInstrument->getAudio();
    $video = $objInstrument->getVideo();
    
    echo "<br/>";
    echo "========================================================<br/>";
    echo strtoupper($nom)."<br/>";
    echo ($detail_description != null)? $detail_description."<br/>": "";
    echo "========================================================<br/>";
    echo '<img src="'.$this->basePath('img/mini/'.$ref_mc.'.jpg').'" alt="photo de l\'instrument"/>';
    echo "<br/>-----<br/>";
    echo "ID: ".$id."<br/>";
    echo "ID categorie: ".$id_categorie."<br/>";
    echo "Ref.  ".$ref_mc;
    echo ($ref_mf != null)? "(".$ref_mf.")<br/>":"<br/>";
    echo ($accessoires != null)?"Accessoires: ".$accessoires."<br/>":"";
    echo ($emprunt_ok == 1)? "Emprunt possible.<br/>": "";
    echo "-----<br/>";
    echo ($infos_comp1 != null)? $infos_comp1."<br/>" : "";
    echo ($infos_comp2 != null)? $infos_comp2."<br/>":"";
    echo ($audio != null)?'<audio controls><source src="'.$audio.'" type="audio/ogg"></audio>':""; 
    echo($video != null)? '<iframe width="420" height="315" src="'.$video.'"></iframe> ':""; 

    echo "<br/>";
    echo "<hr/>";
