<?php

echo "Sous-famille de l'ID sélectionné (ici, 1)";
    echo "<br/>";
    echo "ID: ".$this->sousfamilleParId->getId()."<br/>";
    echo "ID famille: ".$this->sousfamilleParId->getId_famille()."<br/>";
    echo "Nom: ".$this->sousfamilleParId->getNom()."<br/>";
    echo "Description: ".$this->sousfamilleParId->getDescription()."<br/>";
    echo "<br/>";
