<?php

echo "Liste de toutes les photos";
foreach($this->listePhotos as $objPhoto){
    echo "<br/>";
    echo "ID instrument: ".$objPhoto->getId_instrument()."<br/>";
    echo "ID: ".$objPhoto->getId()."<br/>";
    echo "Nom: ".$objPhoto->getNom()."<br/>";
    echo "<br/>";
}