<?php

echo "Liste de toutes les sous-familles de famille d'ID 1";
foreach($this->sousfamillesFiltres as $objSousFamille){
    echo "<br/>";
    echo "ID: ".$objSousFamille->getId()."<br/>";
    echo "ID famille: ".$objSousFamille->getId_famille()."<br/>";
    echo "Nom: ".$objSousFamille->getNom()."<br/>";
    echo "Description: ".$objSousFamille->getDescription()."<br/>";
    echo "<br/>";
}