<?php
    $instrument = $this->instrument;
    $ref_mc = $instrument->getRef_mc();
    $urlImage = (is_file('public/img/mini/'.$ref_mc.'.jpg'))? $this->basePath('img/mini/'.$ref_mc.'.jpg') : $this->basePath('img/no-img.jpeg');

    $form = $this->form;
    $form->prepare();
    $categories = $form->get('id_categorie');
    $categories->setAttributes([
        'class'=> 'form-control',
        'id' => 'id_categorieUpdate'
    ]);
    $categories->setOptions([
        'label'=>'Catégorie:',
        'label_attributes'=> [
            'class'=>"col-sm-2 control-label",
            'for'=> $categories->getAttribute('id')
         ],
     ]);
?>

<div class="modal-content">
    <div class="modal-header">
        <h4>Update Fiche Instrument</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        <form class="form-horizontal well" enctype="multipart/form-data" method="post">
            <input type="hidden" value="<?php echo $instrument->getId() ?>" id="idInstrumentUpdate" />
            <div class="form-group row">
                <label class="col-sm-2 control-label" for="photoUpdate">Photo: </label>
                <div class="col-sm-4">
                    <img  id="photoUpdate" class="thumbnail img-responsive" src="<?php echo $urlImage ?>" alt="photo de l\'instrument"/>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <label for="newPhotoUpdate">Importer une autre photo: </label>
                        <div class=""><input id="newPhotoUpdate" type="file"/></div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <?php echo $this->formLabel($categories); ?>
                <div class="col-sm-10"><?php echo $this->formSelect($categories); ?></div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label" for="nomUpdate">Nom: </label>
                <div class="col-sm-10"><input id="nomUpdate" class="form-control" type="text" value="<?php echo $instrument->getNom() ?>"/></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label" for="detail_descriptionUpdate">Détails description: </label>
                <div class="col-sm-10"><input id="detail_descriptionUpdate" class="form-control" type="text" value="<?php echo $instrument->getDetail_description() ?>"/></div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label" for="accessoiresUpdate">Accessoires: </label>
                <div class="col-sm-10"><textarea id="accessoiresUpdate" rows="3" class="form-control" value="<?php echo $instrument->getAccessoires() ?>"></textarea></div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label" for="ref_mcUpdate">Ref.MC: </label>
                <div class="col-sm-4"><input id="ref_mcUpdate" class="form-control" type="text" value="<?php echo $instrument->getRef_mc() ?>"/></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label" for="ref_mfUpdate">Ref.MF: </label>
                <div class="col-sm-4"><input id="ref_mfUpdate" class="form-control" type="text" value="<?php echo $instrument->getRef_mf() ?>"/></div>
            </div>

            <!--EMPRUNT (radio buttons)-->
            <div class="form-group row">
                <label class="col-sm-2 control-label" for="emprunt_okUpdate"></label>
                <div class="col-sm-10">
                    <div class="radio">
                      <label for="emprunt_okUpdate-0">
                        <input name="emprunt_okUpdate" id="emprunt_okUpdate-0" value="0" type="radio">
                        consultation sur place uniquement
                      </label>
                    </div>
                    <div class="radio">
                      <label for="emprunt_okUpdate-1">
                        <input name="emprunt_okUpdate" id="emprunt_okUpdate-1" value="1" type="radio">
                        consultation et emprunt possibles
                      </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label" for="infos1Update">Infos complémentaires: </label>
                <div class="col-sm-10"><div id="infos1Update" class="summernote"><?php echo $instrument->getInfos_comp1() ?></div></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label" for="infos2Update">Infos complémentaires (suite): </label>
                <div class="col-sm-10"><div id="infos2Update" class="summernote"><?php echo $instrument->getInfos_comp2() ?></div></div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label" for="videoUpdate">Lien vidéo:</label>
                <div class="col-sm-10"><input id="videoUpdate" type="text" class="form-control" value="<?php echo $instrument->getVideo() ?>"/></div>
                <?php if($instrument->getVideo() != null){?>
                <div class="col-sm-offset-2 col-sm-10 thumbnail embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="<?php echo $instrument->getVideo();?>"></iframe>
                </div>
                <?php } ?>
            </div>
            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label" for="submitUpdate"></label>
                <div class="col-xs-3 col-sm-2"><button id="submitUpdate" class="btn btn-primary btn-lg">Valider</button></div>
                <div class="alert alert-success col-xs-9 col-sm-7 text-center" id="updateSuccessMsg"style="display:none">La fiche instrument a bien été modifiée!</div>
            </div>
        </form>
        
    </div>
</div>
<script>   
$(document).ready(function(){
    $('#id_categorieUpdate option[value="<?php echo $instrument->getId_categorie()?>"]').attr('selected', 'selected');
    $('input[name="emprunt_okUpdate"][value="<?php echo ($instrument->getEmprunt_ok())? "1" : "0" ;?>"]').attr('checked', 'checked');
    
    $('.summernote').summernote({
        minHeight: 300,
        placeholder: 'write here...',
        toolbar: [
            // [groupName, [list of button]]
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['para', ['ul', 'ol']],
            ['link', ['link', 'video', 'picture']],
            ['misc', ['codeview', 'undo', 'redo', 'help']]
          ]
    });
});
</script>
