<?php
/////////////////////////////////////////////////
// RECUPERATION ET CUSTOMISATION DU FORMULAIRE //
/////////////////////////////////////////////////
$formInsert = $this->form;
$formInsert->setAttributes([
    'action'=>$this->url."resultatInsertInstrument",
    'method'=>'POST',
    'class'=>'form-horizontal well',
]);
$formInsert->prepare();

////////////////////////////////////////////
// CUSTOMISATION DES CHAMPS DE FORMULAIRE //
////////////////////////////////////////////

$categories = $formInsert->get('id_categorie');
$categories->setAttributes([
    'class'=>'form-control',
    'required'=>'required',
    'id' => 'id_categorieInsert'
]);
$categories->setOptions([
    'label'=>'Catégorie*:',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $categories->getAttribute('id')
     ],
 ]);

$nom = $formInsert->get('nom');
$nom->setAttributes([
    'class'=>'form-control',
    'required'=>'required',
    'id' => 'nomInsert'
]);
$nom->setOptions([
    'label'=>'Nom*:',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $nom->getAttribute('id')
     ],
]);

$description = $formInsert->get('detail_description');
$description->setAttributes([
    'class'=>'form-control',
    'id' => 'detail_descriptionInsert'
]);
$description->setOptions([
    'label'=>'Description:',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $description->getAttribute('id')
     ],
]);

$photoFile = $formInsert->get('photoFile');
$photoFile->setAttributes([
    'class'=>'input-file',
    'id' => 'photoFileInsert'
]);
$photoFile->setOptions([
    'label'=>'Ajouter une photo',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $photoFile->getAttribute('id')
     ],
]);

$ref_mc = $formInsert->get('ref_mc');
$ref_mc->setAttributes([
    'class'=>'form-control',
    'id' => 'ref_mcInsert',
    'disabled' => 'disabled'
]);
$ref_mc->setOptions([
    'label'=>'Ref.MC*',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $ref_mc->getAttribute('id')
     ],
]);

$ref_mf = $formInsert->get('ref_mf');
$ref_mf->setAttributes([
    'class'=>'form-control',
    'id' => 'ref_mfInsert'
]);
$ref_mf->setOptions([
    'label'=>'Ref.MF',
    'label_attributes'=> [
        'class'=>"col-sm-1 control-label",
        'for'=> $ref_mf->getAttribute('id')
     ],
]);

$accessoires = $formInsert->get('accessoires');
$accessoires->setAttributes([
    'class'=>'form-control',
    'id' => 'accessoiresInsert'
]);
$accessoires->setOptions([
    'label'=>'Accessoires:',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $accessoires->getAttribute('id')
     ],
]);

$infos_comp1 = $formInsert->get('infos_comp1');
$infos_comp1->setAttributes([
    'class'=>'form-control',
    'id' => 'infos_comp1Insert'
]);
$infos_comp1->setOptions([
    'label'=>'Informations complémentaires:',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $infos_comp1->getAttribute('id')
     ],
]);

$infos_comp2 = $formInsert->get('infos_comp2');
$infos_comp2->setAttributes([
    'class'=>'form-control',
    'id' => 'infos_comp2Insert'
]);
$infos_comp2->setOptions([
    'label'=>'Informations complémentaires (suite):',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $infos_comp2->getAttribute('id')
     ],
]);

$videoLink = $formInsert->get('videoLink');
$videoLink->setAttributes([
    'class'=>'form-control',
    'id' => 'videoInsert'
]);
$videoLink->setOptions([
    'label'=>'Lien vidéo:',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $videoLink->getAttribute('id')
     ],
]);

/////////////////////
///// AFFICHAGE /////
/////////////////////

//echo $this->form()->openTag($formInsert);

?>
<form class="form-horizontal well" enctype="multipart/form-data" method="post">
<fieldset>
<legend>Nouvel instrument - formulaire d'insertion</legend>

    <!--CATEGORIE-->
    <div class="form-group">
      <?php echo $this->formLabel($categories); ?>
      <div class="col-sm-8 col-md-6"><?php echo $this->formSelect($categories); ?></div>
    </div>
    <!--ANNEE D'ACQUISITION-->
    <div class="form-group">
        <label for="annee" class='col-sm-2 col-md-3 control-label'>Année d'acquisition: </label>
        <div class="col-sm-3 col-md-3"><input id="annee" type='number' class='form-control' min='2008' max='<?php echo date("Y") ?>'/></div>
    </div>
    
    <!--REFERENCES-->
    <div class="form-group">
      <?php echo $this->formLabel($ref_mc);?>
      <div class="col-sm-3 col-md-3">
          <?php echo $this->formInput($ref_mc); ?>
          <span class="help-block text-sm">
              <strong class="text-danger">Veuillez vérifier la concordance de la référence avec l'étiquetage sur l'instrument.</strong>
              Génération automatique en fonction de la catégorie choisie et de l'année d'acquisition.
              <button type="button" id="enableRef">Modifier</button>
          </span>
        <div class="alert alert-danger col-sm-12 text-center" id="refError"style="display:none">Cette référence existe déjà dans la base de données!</div>
      </div>
      <?php echo $this->formLabel($ref_mf);?>
      <div class="col-sm-4 col-md-2"><?php echo $this->formInput($ref_mf); ?></div>
    </div>
    <!--NOM-->
    <div class="form-group">
      <?php echo $this->formLabel($nom); ?>
      <div class="col-sm-8 col-md-6"><?php echo $this->formInput($nom); ?></div>
    </div>
    <!--DETAIL-->
    <div class="form-group">
      <?php echo $this->formLabel($description); ?>
      <div class="col-sm-8 col-md-6"><?php echo $this->formInput($description); ?></div>
    </div>
    <!--PHOTO (file input)-->
    <div class="form-group">
      <?php echo $this->formLabel($photoFile);?>
      <div class="col-sm-8 col-md-6"><?php echo $this->formInput($photoFile); ?></div>
    </div>

    <!--EMPRUNT (radio buttons)-->
    <div class="form-group">
      <label class="col-sm-2 col-md-3 control-label" for="emprunt_okInsert"></label>
      <div class="col-sm-8 col-md-6">
      <div class="radio">
        <label for="emprunt_okInsert-0">
          <input name="emprunt_okInsert" id="emprunt_okInsert-0" value="0" checked="checked" type="radio">
          consultation sur place uniquement
        </label>
            </div>
      <div class="radio">
        <label for="emprunt_okInsert-1">
          <input name="emprunt_okInsert" id="emprunt_okInsert-1" value="1" type="radio">
          consultation et emprunt possibles
        </label>
            </div>
      </div>
    </div>

    <!-- ACCESSOIRES-->
    <div class="form-group">
      <?php echo $this->formLabel($accessoires); ?>
      <div class="col-sm-8 col-md-6"><?php echo $this->formInput($accessoires); ?></div>
    </div>

    <!-- INFOS COMPLEMENTAIRES -->
    <div class="form-group row">
        <label class="col-sm-2 col-md-3 control-label" for="infos1Insert">Infos complémentaires: </label>
        <div class="col-sm-8 col-md-6"><div id="infos1Insert" class="summernote"></div></div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-md-3 control-label" for="infos2Insert">Infos complémentaires (suite): </label>
        <div class="col-sm-8 col-md-6"><div id="infos2Insert" class="summernote"></div></div>
    </div>
    
    <!-- VIDEO  --> 
    <div class="form-group">
        <?php echo $this->formLabel($videoLink); ?>
        <div class="col-sm-8 col-md-6"><?php echo $this->formInput($videoLink); ?>
        </div>
    </div>

    <!-- BOUTON ENVOYER -->
    <div class="form-group">
        <label for="insertBtn" class="col-sm-2 col-md-3 control-label"></label>
        <div class="col-sm-2"><button class="btn btn-primary" type="button" id="insertBtn">Valider</button></div>
    </div>
</fieldset>
        <div class="row">
        <div class="alert alert-success col-sm-12 text-center" id="insertSuccessMsg"style="display:none">Nouvel instrument correctement inséré!</div>
        <div class="alert alert-danger col-sm-12 text-center" id="insertErrorMsg"style="display:none">Vous devez au moins compléter la catégorie, le nom et la référence MC!</div>
    </div>
</form>

<script>
$(document).ready(function(){
    $('.summernote').summernote({
        minHeight: 300,
        placeholder: 'write here...',
        toolbar: [
            // [groupName, [list of button]]
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['para', ['ul', 'ol']],
            ['link', ['link', 'video', 'picture']],
            ['misc', ['codeview', 'undo', 'redo', 'help']]
          ]
    });
});

</script>