<?php

/////////////////////////////////////////////////
// RECUPERATION ET CUSTOMISATION DU FORMULAIRE //
/////////////////////////////////////////////////

$formulaire = $this->form;
$formulaire->setAttributes([
    'action'=>$this->url."resultatRecherche",
    'method'=>'POST',
    'class'=>'form-horizontal well'
]);
$formulaire->prepare();

////////////////////////////////////////////
// CUSTOMISATION DES CHAMPS DE FORMULAIRE //
////////////////////////////////////////////

//$familles = $formulaire->get('id_famille');
//$familles->setOptions([
//    'label'=>'Recherche par famille:',
//    'label_attributes'=> [
//        'class'=>"col-sm-2 col-md-3 control-label",
//        'for'=> $familles->getAttribute('id')
//     ],
// ]);
//$familles->setAttributes([
//    'class'=>'form-control',
//]);

$sousfamilles = $formulaire->get('id_sousfamille');
$sousfamilles->setOptions([
    'label'=>'Recherche par sous-famille:',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $sousfamilles->getAttribute('id')
     ],
 ]);
$sousfamilles->setAttributes([
    'class'=>'form-control',
]);

$categories = $formulaire->get('id_categorie');
$categories->setOptions([
    'label'=>'Recherche par catégorie:',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $categories->getAttribute('id')
     ],
 ]);
$categories->setAttributes([
    'class'=>'form-control',
]);

$ref_mc = $formulaire->get('ref_mc');
$ref_mc->setAttributes([
    'class'=>'form-control',
]);
$ref_mc->setOptions([
    'label'=>'Recherche par référence MC:',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $ref_mc->getAttribute('id')
     ],
]);

$ref_mf = $formulaire->get('ref_mf');
$ref_mf->setAttributes([
    'class'=>'form-control',
    'placeholder'=>' '
]);
$ref_mf->setOptions([
    'label'=>'Recherche par référence MF:',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $ref_mf->getAttribute('id')
     ],
]);

$btn = $formulaire->get('boutonEnvoyer');
$btn->setAttributes([
    'class'=>'btn btn-primary',
    'value'=>'Valider'
]);
$btn->setOptions([
    'label'=>' ',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $btn->getAttribute('id')
     ],
]);

/////////////////////
///// AFFICHAGE /////
/////////////////////

echo $this->form()->openTag($formulaire);
?>
<fieldset>
<legend>Instruments - formulaire de recherche par critères</legend>

    <!--FAMILLE-->
    <div class="form-group">
      <?php // echo $this->formLabel($familles); ?>
      <!--<div class="col-sm-8 col-md-6"><?php // echo $this->formSelect($familles); ?></div>-->
    </div>
    
    <!--SOUS-FAMILLE-->
    <div class="form-group">
      <?php echo $this->formLabel($sousfamilles); ?>
      <div class="col-sm-8 col-md-6"><?php echo $this->formSelect($sousfamilles); ?></div>
    </div>
    
    <!--CATEGORIE-->
    <div class="form-group">
      <?php echo $this->formLabel($categories); ?>
      <div class="col-sm-8 col-md-6"><?php echo $this->formSelect($categories); ?></div>
    </div>
    
    
    
    <!--REFERENCES-->
    <div class="form-group">
      <?php echo $this->formLabel($ref_mc);?>
      <div class="col-sm-3 col-md-3"><?php echo $this->formInput($ref_mc); ?></div>
    </div>
    
    <div class="form-group">
      <?php echo $this->formLabel($ref_mf);?>
      <div class="col-sm-3 col-md-3"><?php echo $this->formInput($ref_mf); ?></div>
    </div>

    <!--EMPRUNT (radio buttons)-->
    <div class="form-group">
      <label class="col-sm-2 col-md-3 control-label" for="emprunt_ok"></label>
      <div class="col-sm-8 col-md-6">
      <div class="radio">
        <label for="emprunt_ok-1">
          <input name="emprunt_ok" id="emprunt_ok-1" value="1" type="radio">
          emprunt possible
        </label>
            </div>
      </div>
    </div>
    
    <!-- BOUTON ENVOYER -->
    <div class="form-group">
        <?php echo $this->formLabel($btn); ?>
        <div class="col-sm-4"><?php echo $this->formInput($btn) ?></div>
    </div>

</fieldset>
<?php echo $this->form()->closeTag($formulaire);




