    <h1>Formulaire de recherche d'instrument par ID</h1>
<!--

<div class="row">

    <form action="" method="post">
        <label for="id_instrument">ID instrument: </label>
        <input type="number" id="id_instrument" name=""id_instrument>
    </form>
</div>-->

<?php
$formulaire=$this->form;


// IMPORTANT: 

// - $this->form c'est le formulaire en soi, reçu de notre classe controller
//  dans la ligne "return new ViewModel..."
// On le stocke dans une variable $formulaire pour nous faciliter la notation
// A ne pas confondre avec la méthode $this->form() expliquée plus tard


//die();
$formulaire->setAttributes(array(
            'action'=>$this->url."afficherInstrumentParId",
            'method'=>'POST'));


// pareil que 
 //$formulaire->setAttribute('action', $this->url('Formulairepersonne', array('action' => 'recevoirDonnees')));

$formulaire->prepare();

// - form() est une méthode de la view (PhpRenderer) qui nous renvoie un objet (FormHelper) 
// pour créer le HTML d'une partie ou de la totalité du formulaire (HTML) 
// et manipuler certaines caracteristiques génerales du formulaire (action, method...)

echo $this->form()->render($formulaire);


