<?php

//echo "La recherche pour ".strtoupper($this->recherche)." donne ".$this->nbResultats." résultat(s):<br/>";
echo "La recherche pour ".strtoupper($this->recherche)." donne résultat(s):<br/>";
//echo $this->options."<br/>";

//foreach($this->instrumentsFiltres as $objInstrument){
foreach($this->instruments as $objInstrument){
    echo $this->partial('layout/fiche-instrument', ['instrument'=>$objInstrument]);
}