<?php

/////////////////////////////////////////////////
// RECUPERATION ET CUSTOMISATION DU FORMULAIRE //
/////////////////////////////////////////////////

$formulaire = $this->form;
$formulaire->setAttributes([
    'action'=>$this->url."afficherInstrumentsParFiltreTest",
//    'action'=>$this->url."",
    'method'=>'POST',
    'class'=>'form-horizontal well'
]);
$formulaire->prepare();

////////////////////////////////////////////
// CUSTOMISATION DES CHAMPS DE FORMULAIRE //
////////////////////////////////////////////

$sousfamilles = $formulaire->get('id_sousfamille');
$sousfamilles->setOptions([
    'label'=>'Par famille:',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $sousfamilles->getAttribute('id')
     ],
 ]);
$sousfamilles->setAttributes([
    'class'=>'form-control',
]);

//$categories = $formulaire->get('id_categorie');
//$categories->setOptions([
//    'label'=>'Recherche par catégorie:',
//    'label_attributes'=> [
//        'class'=>"col-sm-2 col-md-3 control-label",
//        'for'=> $categories->getAttribute('id')
//     ],
// ]);
//$categories->setAttributes([
//    'class'=>'form-control',
//]);

$ref_mc = $formulaire->get('ref_mc');
$ref_mc->setAttributes([
    'class'=>'form-control',
]);
$ref_mc->setOptions([
    'label'=>'Par référence:',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $ref_mc->getAttribute('id')
     ],
]);

$ref_mf = $formulaire->get('ref_mf');
$ref_mf->setAttributes([
    'class'=>'form-control',
    'placeholder'=>' '
]);
$ref_mf->setOptions([
    'label'=>'Recherche par référence MF:',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $ref_mf->getAttribute('id')
     ],
]);

$btn = $formulaire->get('boutonEnvoyer');
$btn->setAttributes([
    'class'=>'btn btn-primary',
    'value'=>'Valider'
]);
$btn->setOptions([
    'label'=>' ',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $btn->getAttribute('id')
     ],
]);

/////////////////////
///// AFFICHAGE /////
/////////////////////

echo $this->form()->openTag($formulaire);
?>
<fieldset>
<legend>Recherche d'instruments de musique dans le catalogue</legend>

    <!--SOUS-FAMILLE-->
    <div class="form-group">
      <?php echo $this->formLabel($sousfamilles); ?>
      <div class="col-sm-8 col-md-6"><?php echo $this->formSelect($sousfamilles); ?></div>
    </div>
    
    <div class="form-group">
        <label for="categories_ajax" class="col-sm-2 col-md-3 control-label">Par catégorie:</label>
        <div class="col-sm-8 col-md-6">
            <select id="categories_ajax" name="id_categorie" class="form-control" disabled>
                <option>-- Choisissez d'abord une famille --</option>
                <option value="1">-- 1 --</option>
            </select>
        </div>
    </div>

    <!--REFERENCES-->
    <div class="form-group">
      <?php echo $this->formLabel($ref_mc);?>
      <div class="col-sm-3 col-md-3"><?php echo $this->formInput($ref_mc); ?></div>
    </div>
    
<!--    <div class="form-group">
      <?php echo $this->formLabel($ref_mf);?>
      <div class="col-sm-3 col-md-3"><?php echo $this->formInput($ref_mf); ?></div>
    </div>-->

    <!--EMPRUNT (radio buttons)-->
    <div class="form-group">
      <label class="col-sm-2 col-md-3 control-label" for="emprunt_ok"></label>
      <div class="col-sm-8 col-md-6">
      <div class="radio">
        <label for="emprunt_ok-1">
          <input name="emprunt_ok" id="emprunt_ok-1" value="1" type="radio">
          emprunt possible
        </label>
            </div>
      </div>
    </div>
    
    <!-- BOUTON ENVOYER -->
    <div class="form-group">
        <?php echo $this->formLabel($btn); ?>
        <div class="col-sm-4"><?php echo $this->formInput($btn) ?></div>
    </div>

</fieldset>
<?php echo $this->form()->closeTag($formulaire);?>

<script>
//    $(document).ready(function(){
//        $('#id_sousfamille').change(function(){  
//            $.ajax({
//                url: '/application/catalogue/rechercheCategoriesAjax',
//                method: 'POST',
//                dataType: 'json',
//                data:{
//                    id_sousfamille : $('#id_sousfamille').val()
//                },
//                success: function (data){
//                    var catSelect = $('#categories_ajax');
//                    catSelect.empty();
//                    var newCatOptions = [$('<option>-- Choisissez une catégorie --</option>')];
//                    console.log(data['categories']);
//                    for(var i = 0, len = data['categories'].length; i < len; i++){
//                        newCatOptions.push($('<option value="'+data['categories'][i].id+'">'+data['categories'][i].nom+'</option>'));
//                    }
//                    catSelect.append(newCatOptions);   
//                    catSelect.removeAttr('disabled');
//                },
//                error: function(data){
//                    alert("error");
//                    console.log(data);
//                }
//            }); 
//        });
//    });
</script>



