<?php
/////////////////////////////////////////////////
// RECUPERATION ET CUSTOMISATION DU FORMULAIRE //
/////////////////////////////////////////////////

$formulaire = $this->form;
$formulaire->setAttributes([
    'action'=>$this->url."resultatInsertInstrument",
    'method'=>'POST',
    'class'=>'form-horizontal well'
]);
$formulaire->prepare();

////////////////////////////////////////////
// CUSTOMISATION DES CHAMPS DE FORMULAIRE //
////////////////////////////////////////////

$categories = $formulaire->get('id_categorie');
$categories->setOptions([
    'label'=>'Catégorie:',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $categories->getAttribute('id')
     ],
 ]);
$categories->setAttributes([
    'class'=>'form-control',
    'required'=>'required'
]);

$nom = $formulaire->get('nom');
$nom->setAttributes([
    'class'=>'form-control',
    'required'=>'required'
]);
$nom->setOptions([
    'label'=>'Nom:',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $nom->getAttribute('id')
     ],
]);

$description = $formulaire->get('detail_description');
$description->setAttributes([
    'class'=>'form-control',
]);
$description->setOptions([
    'label'=>'Description:',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $description->getAttribute('id')
     ],
]);

$photoFile = $formulaire->get('photoFile');
$photoFile->setAttributes([
    'class'=>'input-file',
]);
$photoFile->setOptions([
    'label'=>'Ajouter une photo',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $photoFile->getAttribute('id')
     ],
]);

$ref_mc = $formulaire->get('ref_mc');
$ref_mc->setAttributes([
    'class'=>'form-control',
]);
$ref_mc->setOptions([
    'label'=>'Ref.MC',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $ref_mc->getAttribute('id')
     ],
]);

$ref_mf = $formulaire->get('ref_mf');
$ref_mf->setAttributes([
    'class'=>'form-control',
]);
$ref_mf->setOptions([
    'label'=>'Ref.MF',
    'label_attributes'=> [
        'class'=>"col-sm-1 control-label",
        'for'=> $ref_mf->getAttribute('id')
     ],
]);

$accessoires = $formulaire->get('accessoires');
$accessoires->setAttributes([
    'class'=>'form-control',
]);
$accessoires->setOptions([
    'label'=>'Accessoires:',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $accessoires->getAttribute('id')
     ],
]);

$infos_comp1 = $formulaire->get('infos_comp1');
$infos_comp1->setAttributes([
    'class'=>'form-control',
]);
$infos_comp1->setOptions([
    'label'=>'Informations complémentaires:',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $infos_comp1->getAttribute('id')
     ],
]);

$infos_comp2 = $formulaire->get('infos_comp2');
$infos_comp2->setAttributes([
    'class'=>'form-control',
]);
$infos_comp2->setOptions([
    'label'=>'Informations complémentaires (suite):',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $infos_comp2->getAttribute('id')
     ],
]);

$audioFile = $formulaire->get('audioFile');
$audioFile->setAttributes([
    'class'=>'input-file',
]);
$audioFile->setOptions([
    'label'=>'Ajouter un fichier audio',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $audioFile->getAttribute('id')
     ],
]);
$audioLink = $formulaire->get('audioLink');
$audioLink->setAttributes([
    'class'=>'form-control',
]);
$audioLink->setOptions([
    'label'=>' ',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $audioLink->getAttribute('id')
     ],
]);

$videoFile = $formulaire->get('videoFile');
$videoFile->setAttributes([
    'class'=>'input-file',
]);
$videoFile->setOptions([
    'label'=>'Ajouter un fichier video',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $videoFile->getAttribute('id')
     ],
]);
$videoLink = $formulaire->get('videoLink');
$videoLink->setAttributes([
    'class'=>'form-control',
]);
$videoLink->setOptions([
    'label'=>' ',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $videoLink->getAttribute('id')
     ],
]);

$btn = $formulaire->get('boutonEnvoyer');
$btn->setAttributes([
    'class'=>'btn btn-primary',
    'value'=>'Valider'
]);
$btn->setOptions([
    'label'=>' ',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $btn->getAttribute('id')
     ],
]);

/////////////////////
///// AFFICHAGE /////
/////////////////////

echo $this->form()->openTag($formulaire);
?>
<fieldset>
<legend>Nouvel instrument - formulaire d'insertion</legend>

<!--CATEGORIE-->
<div class="form-group">
  <?php echo $this->formLabel($categories); ?>
  <div class="col-sm-8 col-md-6"><?php echo $this->formSelect($categories); ?></div>
</div>
<!--NOM-->
<div class="form-group">
  <?php echo $this->formLabel($nom); ?>
  <div class="col-sm-8 col-md-6"><?php echo $this->formInput($nom); ?></div>
</div>
<!--DETAIL-->
<div class="form-group">
  <?php echo $this->formLabel($description); ?>
  <div class="col-sm-8 col-md-6"><?php echo $this->formInput($description); ?></div>
</div>
<!--PHOTO (file input)-->
<div class="form-group">
  <?php echo $this->formLabel($photoFile);?>
  <div class="col-sm-8 col-md-6"><?php echo $this->formInput($photoFile); ?></div>
</div>
<!--REFERENCES-->
<div class="form-group">
  <?php echo $this->formLabel($ref_mc);?>
  <div class="col-sm-3 col-md-3"><?php echo $this->formInput($ref_mc); ?></div>
  <?php echo $this->formLabel($ref_mf);?>
  <div class="col-sm-4 col-md-2"><?php echo $this->formInput($ref_mf); ?></div>
</div>

<!--EMPRUNT (radio buttons)-->
<div class="form-group">
  <label class="col-sm-2 col-md-3 control-label" for="emprunt_ok"></label>
  <div class="col-sm-8 col-md-6">
  <div class="radio">
    <label for="emprunt_ok-0">
      <input name="emprunt_ok" id="emprunt_ok-0" value="0" checked="checked" type="radio">
      consultation sur place uniquement
    </label>
	</div>
  <div class="radio">
    <label for="emprunt_ok-1">
      <input name="emprunt_ok" id="emprunt_ok-1" value="1" type="radio">
      consultation et emprunt possibles
    </label>
	</div>
  </div>
</div>

<!-- ACCESSOIRES-->
<div class="form-group">
  <?php echo $this->formLabel($accessoires); ?>
  <div class="col-sm-8 col-md-6"><?php echo $this->formInput($accessoires); ?></div>
</div>

<!-- INFOS COMPLEMENTAIRES -->
<div class="form-group">
  <?php echo $this->formLabel($infos_comp1); ?>
  <div class="col-sm-8 col-md-6"><?php echo $this->formTextArea($infos_comp1); ?></div>
</div>

<div class="form-group">
  <?php echo $this->formLabel($infos_comp2); ?>
  <div class="col-sm-8 col-md-6"><?php echo $this->formTextArea($infos_comp2); ?></div>
</div>

<!-- VIDEO  --> 
<div class="form-group">
    <?php echo $this->formLabel($videoFile); ?>
    <div class="col-sm-8 col-md-6"><?php echo $this->formFile($videoFile); ?></div>
    <?php echo $this->formLabel($videoLink); ?>
    <div class="col-sm-8 col-md-6"><?php echo $this->formInput($videoLink); ?>
    <span class="help-block">1 seule vidéo svp, fichier ou lien</span>  
    </div>
</div>

<!-- AUDIO  --> 
<div class="form-group">
    <?php echo $this->formLabel($audioFile); ?>
    <div class="col-sm-8 col-md-6"><?php echo $this->formFile($audioFile); ?></div>
    <?php echo $this->formLabel($audioLink); ?>
    <div class="col-sm-8 col-md-6"><?php echo $this->formInput($audioLink); ?>
    <span class="help-block">1 seule piste audio svp, fichier ou lien</span>  
    </div>
</div>

<!-- BOUTON ENVOYER -->
<div class="form-group">
    <?php echo $this->formLabel($btn); ?>
    <div class="col-sm-4"><?php echo $this->formInput($btn) ?></div>
</div>

</fieldset>
<?php echo $this->form()->closeTag($formulaire);


