<div id="monaccordeon" class="panel-group">
    <h3>Utilisateurs - espace admin</h3>
<?php if(isset($this->noaccess)){
    echo $this->noaccess;
}
else{ ?>
<!--
==================================
=====   RECHERCHE AVANCEE    =====
==================================
(sur base du formulaire + call Ajax)
-->
    <div class="panel panel-warning" >   
       <div class="panel-heading">
           <h3 class="panel-title">
               <a href="#rechercheUtilisateurs" data-parent="#monaccordeon" data-toggle="collapse">Recherche avancée</a>
           </h3>
       </div>
       <div id="rechercheUtilisateurs" class="panel-collapse collapse">
           <div class="panel-body">
               <?php
                    echo $this->partial('application/utilisateur/partial/rechercher-utilisateur', ['form'=>$this->form]);
                    ?>
           </div>
        </div>
    </div>
 
<!--
==================================
=====  CREER UTILISATEUR    =====
==================================
-->

        <div class="panel panel-warning" >
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="#createUser" data-parent="#monaccordeon" data-toggle="collapse">Création d'un nouvel utilisateur</a>
                </h3>
            </div>
            <div id="createUser" class="panel-collapse collapse">
                <div class="panel-body">
                    <?php
                    echo $this->partial('application/utilisateur/partial/ajouter-utilisateur', ['form'=>$this->form]);
                    ?>
                </div>
            </div>
        </div>
<!--
=================================================================================
=====  AFFICHER EMAILS DE TOUS LES UTILISATEURS INSCRITS A LA NEWSLETTER    =====
=================================================================================
-->
        <div class="panel panel-warning" >
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="#getEmailsNewsletter" data-parent="#monaccordeon" data-toggle="collapse">Récupérer les adresses emails de tous les utilisateurs inscrits à la newsletter</a>
                </h3>
            </div>
            <div id="getEmailsNewsletter" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="well"><!-- complété dynamiquement via un call ajax --></p>
                </div>
            </div>
        </div>
</div>

<div id="resultatRechercheUtilisateur" style='display: none'></div>


<script>
    
$(document).ready(function(){
                
    $('a[href="#rechercheUtilisateurs"]').click(function(){
        $("#resultatRechercheUtilisateur").show();
    });
    
    $('a[href="#createUser"]').click(function(){
        $("#resultatRechercheUtilisateur").empty().hide();
    });
    
    $('a[href="#getEmailsNewsletter"]').click(function(){
        $("#resultatRechercheUtilisateur").empty().hide();
    });
    
    
    
    
 
});


</script>

<?php } ?>