<?php

echo "Liste de tous les utilisateurs";

foreach($this->tousLesUtilisateurs as $objUtilisateur){
    echo "<br/>";
    echo "ID: ".$objUtilisateur->getId()."<br/>";
    echo "Nom: ".$objUtilisateur->getNom()."<br/>";
    echo "Login: ".$objUtilisateur->getLogin()."<br/>";
    echo "Mdp: ".$objUtilisateur->getMdp()."<br/>";
    echo "email: ".$objUtilisateur->getEmail()."<br/>";
    echo "tel: ".$objUtilisateur->getTel()."<br/>";
    echo "<br/>";
}