<?php
/////////////////////////////////////////////////
// RECUPERATION ET CUSTOMISATION DU FORMULAIRE //
/////////////////////////////////////////////////

    $formulaire=$this->form;
    $formulaire->setAttributes(array(
                'action'=>$this->url."loginResult",
                'method'=>'POST',
                'class'=>'form-horizontal well'
        ));

    $formulaire->prepare();
    
////////////////////////////////////////////
// CUSTOMISATION DES CHAMPS DE FORMULAIRE //
////////////////////////////////////////////


$login = $formulaire->get('login');
$login->setAttributes([
    'class'=>'form-control',
]);
$login->setOptions([
    'label'=>'Login:',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $login->getAttribute('id')
     ],
]);

$mdp = $formulaire->get('mdp');
$mdp->setAttributes([
    'class'=>'form-control',
]);
$mdp->setOptions([
    'label'=>'Mot de passe:',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
        'for'=> $mdp->getAttribute('id')
     ],
]);

$btn = $formulaire->get('boutonEnvoyer');
$btn->setAttributes([
    'class'=>'btn btn-primary',
    'value'=>'Valider'
]);
$btn->setOptions([
    'label'=>' ',
    'label_attributes'=> [
        'class'=>"col-sm-2 col-md-3 control-label",
     ]
]);

echo $this->form()->openTag($formulaire);
?>
<fieldset>
<legend>Accès réservé</legend>
    
    <!--LOGIN-->
    <div class="form-group">
      <?php echo $this->formLabel($login); ?>
      <div class="col-sm-8 col-md-6"><?php echo $this->formInput($login); ?></div>
    </div>
    
    <!--MOT DE PASSE-->
    <div class="form-group">
      <?php echo $this->formLabel($mdp); ?>
      <div class="col-sm-8 col-md-6"><?php echo $this->formPassword($mdp); ?></div>
    </div>
    
    <!-- BOUTON ENVOYER -->
    <div class="form-group">
        <?php echo $this->formLabel($btn); ?>
        <div class="col-sm-4"><?php echo $this->formInput($btn) ?></div>
    </div>
  
</fieldset>
<?php echo $this->form()->closeTag($formulaire);
