<?php
session_start();

$utilisateur = $this->utilisateur;
    $idUpdate = $utilisateur->getId();
    $id_roleUpdate = $utilisateur->getId_role();
    $nomUpdate = $utilisateur->getNom();
    $emailUpdate = $utilisateur->getEmail();
    $telUpdate = $utilisateur->getTel();
    $newsletterUpdate = $utilisateur->getNewsletter();
    $loginUpdate = $utilisateur->getLogin();

$loggedUserIsSameAsUserProfile = ($_SESSION['utilisateur']['id'] == $idUpdate) ? true : false;
$loggedUserIsAdmin = ($_SESSION['utilisateur']['id_role'] == 1) ? true : false;

$form = $this->form;
$form->prepare();

    $roles = $form->get('id_role');
    $roles->setAttributes([
        'class'=> 'form-control',
        'id' => 'id_roleUpdate'
    ]);
    $roles->setOptions([
        'label'=>'Rôle:',
        'label_attributes'=> [
            'class'=>"col-sm-2 control-label",
            'for'=> $roles->getAttribute('id')
         ],
     ]);
    
    $email = $form->get('email');
    $email->setAttributes([
        'class'=> 'form-control',
        'id' => 'emailUpdate'
    ]);
    $email->setOptions([
        'label'=>'Email:',
        'label_attributes'=> [
            'class'=>"col-sm-2 control-label",
            'for'=> $email->getAttribute('id')
         ],
     ]);
    
    $email_check = $form->get('email_check');
    $email_check->setAttributes([
        'class'=> 'form-control',
        'id' => 'email_checkUpdate'
    ]);
    $email_check->setOptions([
        'label'=>'Rôle:',
        'label_attributes'=> [
            'class'=>"col-sm-2 control-label",
            'for'=> $email_check->getAttribute('id')
         ],
     ]);
    
    $newsletter = $form->get('newsletter');
    $newsletter->setAttributes([
        'class'=>' ',
        'id' => 'newsletterUpdate'
    ]);
    $newsletter->setOptions([
        'label'=>'Je souhaite recevoir la newsletter',
        'label_attributes'=> [
            'class'=>"col-sm-2 col-md-3 control-label",
            'for'=> $newsletter->getAttribute('id')
         ],
    ]);
?>

<div class="modal-content">
    <div class="modal-header">
        <h4>Update Fiche Utilisateur</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div><!--
    <div class="modal-body">-->
        <form class="form-horizontal">
            
            <!--ID UTILISATEUR (champ caché)-->
            <input type="hidden" value="<?php echo $idUpdate ?>" id="idUtilisateurUpdate" />
            
            <!--LOGIN (non modifiable)-->
            <div class="form-group row">
                <label class="col-sm-2 control-label" for="loginUpdate">Login: </label>
                <div class="col-sm-10"><p id="loginUpdate" class="form-control"><?php echo $loginUpdate ?></p></div>
            </div>
            
            <!--ROLE-->
            <div class="form-group row">
            <?php 
            echo $this->formLabel($roles);
            if (!$loggedUserIsAdmin || $loggedUserIsSameAsUserProfile){
                // il ne doit pas pouvoir modifier son propre rôle
                foreach($roles as $role){
                    if($role->getId() == $id_role){
                        echo '<div class="col-sm-10"><p class="form-control" id="id_roleUpdate">'.$role->getNom().'</p></div>';
                    }
                }
            }else if ($loggedUserIsAdmin){ 
                // il a le droit de modifier le rôle                
                    echo '<div class="col-sm-10">'.$this->formSelect($roles).'</div>';
            } ?> 
            </div>
            <!--NOM-->
            <div class="form-group row">
                <label class="col-sm-2 control-label" for="nomUpdate">Nom et prénom: </label>
                <div class="col-sm-10"><input id="nomUpdate" class="form-control" type="text" value="<?php echo $nomUpdate ?>"/></div>
            </div>
            <!--TEL-->
            <div class="form-group row">
                <label class="col-sm-2 control-label" for="telUpdate">Tel: </label>
                <div class="col-sm-10"><input id="telUpdate" class="form-control" type="text" value="<?php echo $telUpdate ?>"/></div>
            </div>
            
            <!--EMAIL-->
            <div class="form-group row">
                <?php echo $this->formLabel($email); ?>
                <div class="col-sm-10"><?php echo $this->formEmail($email); ?></div>
            </div>
            <div class="form-group row" style='display: none'>
                <?php echo $this->formLabel($email_check); ?>
                <div class="col-sm-10"><?php echo $this->formEmail($email_check); ?></div>
            </div>
            
            <!--NEWSLETTER (checkbox)-->
            <div class="form-group">
                <?php echo $this->formLabel($newsletter); ?>
                <div class="col-sm-8 col-md-6">
                  <label class="checkbox">
                    <?php echo $this->formCheckbox($newsletter); ?>
                  </label>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label" for="submitUpdate"></label>
                <div class="col-xs-3 col-sm-2"><button id="submitUpdate" class="btn btn-primary btn-lg">Valider</button></div>
                <div class="alert alert-success col-xs-9 col-sm-7 text-center" id="updateSuccessMsg"style="display:none">La fiche instrument a bien été modifiée!</div>
            </div>
        </form>
        
    </div>
</div>
<script>   
$(document).ready(function(){
    
    $('#emailUpdate').change(function(){
        $('#email_checkUpdate').show();
    });
////    $('#id_categorieUpdate option[value="<?php // echo $instrument->getId_categorie()?>"]').attr('selected', 'selected');
//    $('input[name="emprunt_okUpdate"][value="<?php // echo ($instrument->getEmprunt_ok())? "1" : "0" ;?>"]').attr('checked', 'checked');
});
</script>
