<div class="jumbotron">
    <h1>L'Instrumentotheque</h1>
    <p>Une exceptionnelle collection d'instruments de musique!</p>
</div>

<div class="row">

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">3 types d'utilisateurs</h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-success">
                    Pour consulter le catalogue en tant que <strong>VISTEUR</strong>,<br/>
                    pas besoin de vous enregistrer.
                </div>
                <div class="alert alert-warning">
                    Pour consulter le catalogue en tant qu'<strong>ENCODEUR</strong>,<br/>
                    Login: <strong>Leal</strong> - mot de passe: <strong>test</strong>.
                </div>
                <div class="alert alert-danger">
                    Pour consulter le catalogue en tant qu'<strong>ADMINISTRATEUR</strong>,<br/>
                    Login: <strong>Violette</strong> - mot de passe: <strong>test</strong>.
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">3 niveaux d'accès aux fonctionnalités</h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-success">
                    <strong>CONSULTATION</strong> du catalogue d'instruments de musique.<br/>
                    Formulaire de <strong>RECHERCHE</strong> avancée.
                </div>
                <div class="alert alert-warning">
                    Formulaire d'<strong>INSERTION</strong> de nouveaux instruments dans le catalogue.<br/>
                    <strong>MODIFICATION ou SUPPRESSION</strong> d'instruments de musique.
                </div>
                <div class="alert alert-danger">
                    <strong>CONSULTATION, CREATION et MODIFICATION</strong> d'utilisateurs<br/>
                    <strong>CONSULTATION</strong> des modifications<br/>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Qui sont les développeurs de ce projet?</h3>
            </div>
            <div class="panel-body">
                <p>blablablablablabla Violette Nys</p>
                <p><a class="btn btn-info pull-right" href="https://minivio.bitbucket.io" target="_blank">Voir le site cv &raquo;</a></p>
            </div>
        </div>
    </div>
    
</div>
