<!--<div class="alert alert-warning">
En construction...    
</div>-->
<?php
//$formulaire = $this->form;
//
//$formulaire->setAttributes(array(
//            'action'=>"http://formulairesbase.localhost/application/personne/recevoirDonnees",
//            'method'=>'POST'));
//
//$formulaire->prepare();
//
//echo $this->form()->render($formulaire);
?>

<div class="input-group date" data-provide="datepicker">
    <input type="text" class="form-control">
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>
</div>

<div class="input-group input-daterange">
    <div class="input-group-addon">Entre le</div>
    <input type="text" class="form-control datepicker" value="2012-04-05">
    <div class="input-group-addon">et le</div>
    <input type="text" class="form-control datepicker" value="2012-04-19">
</div>

<div class="input-group input-daterange">
    <div class="input-group-addon">Entre le</div>
    <input type="text" class="form-control datepicker" value="2012-04-05">
    <div class="input-group-addon">et le</div>
    <input type="text" class="form-control datepicker" value="2012-04-19">
</div>

<script>
    $(document).ready(function(){
        
        $.fn.datepicker.dates['fr'] = {
    days: ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"],
    daysShort: ["Lun", "Mar", "Mer", "Jeu", "Ven", "Sam", "Dim"],
    daysMin: ["Lu", "Ma", "Me", "Je", "Ve", "Sa", "Di"],
    months: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juiller", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
    monthsShort: ["Jan", "Fév", "Mar", "Avr", "Mai", "Juin", "Juil", "Aout", "Sept", "Oct", "Nov", "Dec"],
    today: "Aujourd'hui",
    clear: "Effacer",
    format: "dd/mm/yyyy",
    titleFormat: "MM yyyy", /* Leverages same syntax as 'format' */
    weekStart: 1
};
$('.datepicker').datepicker();
//        $('.datepicker').datepicker({
//            format: 'mm/dd/yyyy',
////            startDate: '0d'
//        });
    });
    
    </script>